<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>island_bonus_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{237,248}</string>
                <key>spriteSourceSize</key>
                <string>{237,250}</string>
                <key>textureRect</key>
                <string>{{733,397},{237,248}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>island_bonus_locked_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{237,248}</string>
                <key>spriteSourceSize</key>
                <string>{237,250}</string>
                <key>textureRect</key>
                <string>{{728,646},{237,248}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>island_chaos_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,2}</string>
                <key>spriteSize</key>
                <string>{236,240}</string>
                <key>spriteSourceSize</key>
                <string>{236,244}</string>
                <key>textureRect</key>
                <string>{{238,925},{236,240}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>island_chaos_locked_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,2}</string>
                <key>spriteSize</key>
                <string>{236,240}</string>
                <key>spriteSourceSize</key>
                <string>{236,244}</string>
                <key>textureRect</key>
                <string>{{957,1121},{236,240}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>island_crystal_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-6}</string>
                <key>spriteSize</key>
                <string>{237,232}</string>
                <key>spriteSourceSize</key>
                <string>{237,244}</string>
                <key>textureRect</key>
                <string>{{1204,882},{237,232}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>island_crystal_locked_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-6}</string>
                <key>spriteSize</key>
                <string>{237,232}</string>
                <key>spriteSourceSize</key>
                <string>{237,244}</string>
                <key>textureRect</key>
                <string>{{1194,1121},{237,232}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>island_death_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,23}</string>
                <key>spriteSize</key>
                <string>{236,274}</string>
                <key>spriteSourceSize</key>
                <string>{236,320}</string>
                <key>textureRect</key>
                <string>{{239,132},{236,274}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>island_death_locked_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,23}</string>
                <key>spriteSize</key>
                <string>{236,274}</string>
                <key>spriteSourceSize</key>
                <string>{236,320}</string>
                <key>textureRect</key>
                <string>{{1,682},{236,274}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>island_demon_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,4}</string>
                <key>spriteSize</key>
                <string>{235,250}</string>
                <key>spriteSourceSize</key>
                <string>{235,258}</string>
                <key>textureRect</key>
                <string>{{239,674},{235,250}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>island_demon_locked_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,4}</string>
                <key>spriteSize</key>
                <string>{235,250}</string>
                <key>spriteSourceSize</key>
                <string>{235,258}</string>
                <key>textureRect</key>
                <string>{{475,873},{235,250}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>island_doom_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,8}</string>
                <key>spriteSize</key>
                <string>{235,266}</string>
                <key>spriteSourceSize</key>
                <string>{235,282}</string>
                <key>textureRect</key>
                <string>{{239,407},{235,266}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>island_doom_locked_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,8}</string>
                <key>spriteSize</key>
                <string>{235,266}</string>
                <key>spriteSourceSize</key>
                <string>{235,282}</string>
                <key>textureRect</key>
                <string>{{1,957},{235,266}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>island_fire_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{238,242}</string>
                <key>spriteSourceSize</key>
                <string>{238,242}</string>
                <key>textureRect</key>
                <string>{{475,1109},{238,242}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>island_fire_locked_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{238,242}</string>
                <key>spriteSourceSize</key>
                <string>{238,242}</string>
                <key>textureRect</key>
                <string>{{714,1121},{238,242}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>island_ice_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{238,226}</string>
                <key>spriteSourceSize</key>
                <string>{238,226}</string>
                <key>textureRect</key>
                <string>{{977,882},{238,226}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>island_ice_locked_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{238,226}</string>
                <key>spriteSourceSize</key>
                <string>{238,226}</string>
                <key>textureRect</key>
                <string>{{1215,629},{238,226}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>island_lava_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{239,264}</string>
                <key>spriteSourceSize</key>
                <string>{239,266}</string>
                <key>textureRect</key>
                <string>{{476,132},{239,264}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>island_lava_locked_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{239,264}</string>
                <key>spriteSourceSize</key>
                <string>{239,266}</string>
                <key>textureRect</key>
                <string>{{716,132},{239,264}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>island_magic_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,2}</string>
                <key>spriteSize</key>
                <string>{237,252}</string>
                <key>spriteSourceSize</key>
                <string>{237,256}</string>
                <key>textureRect</key>
                <string>{{475,635},{237,252}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>island_magic_locked_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,2}</string>
                <key>spriteSize</key>
                <string>{237,252}</string>
                <key>spriteSourceSize</key>
                <string>{237,256}</string>
                <key>textureRect</key>
                <string>{{977,629},{237,252}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>island_monster_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,3}</string>
                <key>spriteSize</key>
                <string>{237,258}</string>
                <key>spriteSourceSize</key>
                <string>{237,264}</string>
                <key>textureRect</key>
                <string>{{956,132},{237,258}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>island_monster_locked_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,3}</string>
                <key>spriteSize</key>
                <string>{237,258}</string>
                <key>spriteSourceSize</key>
                <string>{237,264}</string>
                <key>textureRect</key>
                <string>{{1194,132},{237,258}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>island_poison_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,8}</string>
                <key>spriteSize</key>
                <string>{236,246}</string>
                <key>spriteSourceSize</key>
                <string>{236,262}</string>
                <key>textureRect</key>
                <string>{{726,884},{236,246}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>island_poison_locked_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,8}</string>
                <key>spriteSize</key>
                <string>{236,246}</string>
                <key>spriteSourceSize</key>
                <string>{236,262}</string>
                <key>textureRect</key>
                <string>{{238,1166},{236,246}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>island_shadow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-9}</string>
                <key>spriteSize</key>
                <string>{236,216}</string>
                <key>spriteSourceSize</key>
                <string>{236,234}</string>
                <key>textureRect</key>
                <string>{{1,1224},{236,216}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>island_shadow_locked_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-9}</string>
                <key>spriteSize</key>
                <string>{236,216}</string>
                <key>spriteSourceSize</key>
                <string>{236,234}</string>
                <key>textureRect</key>
                <string>{{1228,391},{236,216}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>island_spike_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,6}</string>
                <key>spriteSize</key>
                <string>{237,274}</string>
                <key>spriteSourceSize</key>
                <string>{237,286}</string>
                <key>textureRect</key>
                <string>{{1,132},{237,274}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>island_spike_locked_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,6}</string>
                <key>spriteSize</key>
                <string>{237,274}</string>
                <key>spriteSourceSize</key>
                <string>{237,286}</string>
                <key>textureRect</key>
                <string>{{1,407},{237,274}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>island_time_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,9}</string>
                <key>spriteSize</key>
                <string>{237,256}</string>
                <key>spriteSourceSize</key>
                <string>{237,274}</string>
                <key>textureRect</key>
                <string>{{476,397},{237,256}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>island_time_locked_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,9}</string>
                <key>spriteSize</key>
                <string>{237,256}</string>
                <key>spriteSourceSize</key>
                <string>{237,274}</string>
                <key>textureRect</key>
                <string>{{971,391},{237,256}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>theLostGauntletsLabel_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,-5}</string>
                <key>spriteSize</key>
                <string>{1252,130}</string>
                <key>spriteSourceSize</key>
                <string>{1262,140}</string>
                <key>textureRect</key>
                <string>{{1,1},{1252,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>GauntletSheet-uhd.png</string>
            <key>size</key>
            <string>{1446,1446}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:18cb72e15a20b070c79c28c979e54888:968095ae74b2d03988f06d3281b2ae19:bf5c0e6986514bcfaede4d760b7bd03b$</string>
            <key>textureFileName</key>
            <string>GauntletSheet-uhd.png</string>
        </dict>
    </dict>
</plist>
