<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>GJ_challengeBtn_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-2}</string>
                <key>spriteSize</key>
                <string>{101,101}</string>
                <key>spriteSourceSize</key>
                <string>{105,105}</string>
                <key>textureRect</key>
                <string>{{285,63},{101,101}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GJ_createBtn_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-2}</string>
                <key>spriteSize</key>
                <string>{101,101}</string>
                <key>spriteSourceSize</key>
                <string>{105,105}</string>
                <key>textureRect</key>
                <string>{{1,45},{101,101}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GJ_dailyBtn_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-2}</string>
                <key>spriteSize</key>
                <string>{101,101}</string>
                <key>spriteSourceSize</key>
                <string>{105,105}</string>
                <key>textureRect</key>
                <string>{{153,113},{101,101}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GJ_fameBtn_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-2}</string>
                <key>spriteSize</key>
                <string>{101,101}</string>
                <key>spriteSourceSize</key>
                <string>{105,105}</string>
                <key>textureRect</key>
                <string>{{285,165},{101,101}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GJ_featuredBtn_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-2}</string>
                <key>spriteSize</key>
                <string>{101,101}</string>
                <key>spriteSourceSize</key>
                <string>{105,105}</string>
                <key>textureRect</key>
                <string>{{1,147},{101,101}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GJ_gauntletsBtn_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-2}</string>
                <key>spriteSize</key>
                <string>{101,101}</string>
                <key>spriteSourceSize</key>
                <string>{105,105}</string>
                <key>textureRect</key>
                <string>{{151,215},{101,101}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GJ_highscoreBtn_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-2}</string>
                <key>spriteSize</key>
                <string>{101,101}</string>
                <key>spriteSourceSize</key>
                <string>{105,105}</string>
                <key>textureRect</key>
                <string>{{1,249},{101,101}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GJ_mapPacksBtn_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-2}</string>
                <key>spriteSize</key>
                <string>{101,101}</string>
                <key>spriteSourceSize</key>
                <string>{105,105}</string>
                <key>textureRect</key>
                <string>{{145,317},{101,101}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GJ_savedBtn_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-2}</string>
                <key>spriteSize</key>
                <string>{101,101}</string>
                <key>spriteSourceSize</key>
                <string>{105,105}</string>
                <key>textureRect</key>
                <string>{{1,351},{101,101}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GJ_searchBtn_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-2}</string>
                <key>spriteSize</key>
                <string>{101,101}</string>
                <key>spriteSourceSize</key>
                <string>{105,105}</string>
                <key>textureRect</key>
                <string>{{371,267},{101,101}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GJ_watchReplay_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-1}</string>
                <key>spriteSize</key>
                <string>{131,89}</string>
                <key>spriteSourceSize</key>
                <string>{133,91}</string>
                <key>textureRect</key>
                <string>{{153,23},{131,89}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GJ_weeklyBtn_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-2}</string>
                <key>spriteSize</key>
                <string>{101,101}</string>
                <key>spriteSourceSize</key>
                <string>{105,105}</string>
                <key>textureRect</key>
                <string>{{371,369},{101,101}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>boost_01_shine_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,41}</string>
                <key>spriteSourceSize</key>
                <string>{32,41}</string>
                <key>textureRect</key>
                <string>{{103,321},{32,41}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>boost_02_shine_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{31,54}</string>
                <key>spriteSourceSize</key>
                <string>{31,54}</string>
                <key>textureRect</key>
                <string>{{103,354},{31,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>boost_03_shine_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,54}</string>
                <key>spriteSourceSize</key>
                <string>{48,54}</string>
                <key>textureRect</key>
                <string>{{103,135},{48,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>boost_04_shine_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{63,54}</string>
                <key>spriteSourceSize</key>
                <string>{63,54}</string>
                <key>textureRect</key>
                <string>{{166,419},{63,54}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>boost_05_shine_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,52}</string>
                <key>spriteSourceSize</key>
                <string>{64,52}</string>
                <key>textureRect</key>
                <string>{{318,339},{64,52}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>playerDash2_boom2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,1}</string>
                <key>spriteSize</key>
                <string>{47,46}</string>
                <key>spriteSourceSize</key>
                <string>{71,72}</string>
                <key>textureRect</key>
                <string>{{103,190},{47,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playerDash2_boom2_002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,2}</string>
                <key>spriteSize</key>
                <string>{61,56}</string>
                <key>spriteSourceSize</key>
                <string>{71,72}</string>
                <key>textureRect</key>
                <string>{{221,419},{61,56}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>playerDash2_boom2_003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,2}</string>
                <key>spriteSize</key>
                <string>{63,62}</string>
                <key>spriteSourceSize</key>
                <string>{71,72}</string>
                <key>textureRect</key>
                <string>{{103,419},{63,62}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>playerDash2_boom2_004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,2}</string>
                <key>spriteSize</key>
                <string>{65,66}</string>
                <key>spriteSourceSize</key>
                <string>{71,72}</string>
                <key>textureRect</key>
                <string>{{278,417},{65,66}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>playerDash2_boom2_005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,2}</string>
                <key>spriteSize</key>
                <string>{67,66}</string>
                <key>spriteSourceSize</key>
                <string>{71,72}</string>
                <key>textureRect</key>
                <string>{{415,1},{67,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playerDash2_boom2_006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{69,70}</string>
                <key>spriteSourceSize</key>
                <string>{71,72}</string>
                <key>textureRect</key>
                <string>{{413,68},{69,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playerDash2_boom2_007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{71,70}</string>
                <key>spriteSourceSize</key>
                <string>{71,72}</string>
                <key>textureRect</key>
                <string>{{407,139},{71,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playerDash2_boom2_008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{71,70}</string>
                <key>spriteSourceSize</key>
                <string>{71,72}</string>
                <key>textureRect</key>
                <string>{{247,345},{71,70}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>playerDash2_boom2_009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{71,70}</string>
                <key>spriteSourceSize</key>
                <string>{71,72}</string>
                <key>textureRect</key>
                <string>{{285,267},{71,70}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>portal_01_shine_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,0}</string>
                <key>spriteSize</key>
                <string>{29,71}</string>
                <key>spriteSourceSize</key>
                <string>{37,71}</string>
                <key>textureRect</key>
                <string>{{255,113},{29,71}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>portal_02_shine_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,0}</string>
                <key>spriteSize</key>
                <string>{29,71}</string>
                <key>spriteSourceSize</key>
                <string>{37,71}</string>
                <key>textureRect</key>
                <string>{{255,185},{29,71}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>portal_03_shine_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{41,83}</string>
                <key>spriteSourceSize</key>
                <string>{43,83}</string>
                <key>textureRect</key>
                <string>{{103,237},{41,83}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>portal_04_shine_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{41,83}</string>
                <key>spriteSourceSize</key>
                <string>{43,83}</string>
                <key>textureRect</key>
                <string>{{103,237},{41,83}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>portal_05_shine_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{49,89}</string>
                <key>spriteSourceSize</key>
                <string>{49,89}</string>
                <key>textureRect</key>
                <string>{{103,45},{49,89}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>portal_06_shine_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{49,89}</string>
                <key>spriteSourceSize</key>
                <string>{49,89}</string>
                <key>textureRect</key>
                <string>{{103,45},{49,89}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>portal_07_shine_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{41,83}</string>
                <key>spriteSourceSize</key>
                <string>{43,83}</string>
                <key>textureRect</key>
                <string>{{103,237},{41,83}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>portal_08_shine_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,0}</string>
                <key>spriteSize</key>
                <string>{37,86}</string>
                <key>spriteSourceSize</key>
                <string>{45,86}</string>
                <key>textureRect</key>
                <string>{{387,210},{37,86}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>portal_09_shine_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,0}</string>
                <key>spriteSize</key>
                <string>{37,86}</string>
                <key>spriteSourceSize</key>
                <string>{45,86}</string>
                <key>textureRect</key>
                <string>{{387,210},{37,86}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>portal_10_shine_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{41,83}</string>
                <key>spriteSourceSize</key>
                <string>{43,83}</string>
                <key>textureRect</key>
                <string>{{103,237},{41,83}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>portal_11_shine_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{31,87}</string>
                <key>spriteSourceSize</key>
                <string>{31,87}</string>
                <key>textureRect</key>
                <string>{{253,257},{31,87}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>portal_12_shine_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{31,87}</string>
                <key>spriteSourceSize</key>
                <string>{31,87}</string>
                <key>textureRect</key>
                <string>{{253,257},{31,87}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>portal_13_shine_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{41,83}</string>
                <key>spriteSourceSize</key>
                <string>{43,83}</string>
                <key>textureRect</key>
                <string>{{103,237},{41,83}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>portal_14_shine_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{41,83}</string>
                <key>spriteSourceSize</key>
                <string>{43,83}</string>
                <key>textureRect</key>
                <string>{{103,237},{41,83}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>portal_15_shine_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,0}</string>
                <key>spriteSize</key>
                <string>{27,88}</string>
                <key>spriteSourceSize</key>
                <string>{41,88}</string>
                <key>textureRect</key>
                <string>{{1,453},{27,88}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>portal_16_shine_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,0}</string>
                <key>spriteSize</key>
                <string>{27,88}</string>
                <key>spriteSourceSize</key>
                <string>{41,88}</string>
                <key>textureRect</key>
                <string>{{1,453},{27,88}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>spiderDash_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,0}</string>
                <key>spriteSize</key>
                <string>{213,21}</string>
                <key>spriteSourceSize</key>
                <string>{221,21}</string>
                <key>textureRect</key>
                <string>{{1,1},{213,21}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spiderDash_002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,0}</string>
                <key>spriteSize</key>
                <string>{199,21}</string>
                <key>spriteSourceSize</key>
                <string>{221,21}</string>
                <key>textureRect</key>
                <string>{{215,1},{199,21}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spiderDash_003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-30,0}</string>
                <key>spriteSize</key>
                <string>{151,21}</string>
                <key>spriteSourceSize</key>
                <string>{221,21}</string>
                <key>textureRect</key>
                <string>{{1,23},{151,21}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spiderDash_004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-47,1}</string>
                <key>spriteSize</key>
                <string>{121,19}</string>
                <key>spriteSourceSize</key>
                <string>{221,21}</string>
                <key>textureRect</key>
                <string>{{285,23},{121,19}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spiderDash_005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-55,1}</string>
                <key>spriteSize</key>
                <string>{107,19}</string>
                <key>spriteSourceSize</key>
                <string>{221,21}</string>
                <key>textureRect</key>
                <string>{{285,43},{107,19}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spiderDash_006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-72,1}</string>
                <key>spriteSize</key>
                <string>{73,19}</string>
                <key>spriteSourceSize</key>
                <string>{221,21}</string>
                <key>textureRect</key>
                <string>{{393,43},{73,19}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>spiderDash_007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-79,1}</string>
                <key>spriteSize</key>
                <string>{59,19}</string>
                <key>spriteSourceSize</key>
                <string>{221,21}</string>
                <key>textureRect</key>
                <string>{{387,135},{59,19}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>spiderDash_008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-98,2}</string>
                <key>spriteSize</key>
                <string>{23,17}</string>
                <key>spriteSourceSize</key>
                <string>{221,21}</string>
                <key>textureRect</key>
                <string>{{387,117},{23,17}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>GJ_GameSheet04.png</string>
            <key>size</key>
            <string>{483,483}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0704db3de3381ede8d553d9a553820b4:b3e2e3395c696903a65acdcb622b90a9:9f7a12832b5bd44135bd8d71ee27dfc5$</string>
            <key>textureFileName</key>
            <string>GJ_GameSheet04.png</string>
        </dict>
    </dict>
</plist>
