<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>GJ_secretLock2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{146,150}</string>
                <key>spriteSourceSize</key>
                <string>{146,154}</string>
                <key>textureRect</key>
                <string>{{607,96},{146,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GJ_secretLock2_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-79}</string>
                <key>spriteSize</key>
                <string>{80,96}</string>
                <key>spriteSourceSize</key>
                <string>{82,254}</string>
                <key>textureRect</key>
                <string>{{1014,96},{80,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GJ_secretLock3_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-43}</string>
                <key>spriteSize</key>
                <string>{150,232}</string>
                <key>spriteSourceSize</key>
                <string>{152,318}</string>
                <key>textureRect</key>
                <string>{{226,1},{150,232}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dungeonTorch_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-3}</string>
                <key>spriteSize</key>
                <string>{62,76}</string>
                <key>spriteSourceSize</key>
                <string>{66,82}</string>
                <key>textureRect</key>
                <string>{{1108,185},{62,76}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dungeon_bars_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{222,250}</string>
                <key>spriteSourceSize</key>
                <string>{222,250}</string>
                <key>textureRect</key>
                <string>{{1,1},{222,250}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dungeon_bars_bottom_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{230,20}</string>
                <key>spriteSourceSize</key>
                <string>{230,20}</string>
                <key>textureRect</key>
                <string>{{379,1},{230,20}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dungeon_foreground_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{709,79}</string>
                <key>spriteSourceSize</key>
                <string>{711,81}</string>
                <key>textureRect</key>
                <string>{{607,1},{709,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>secretBody_01_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,0}</string>
                <key>spriteSize</key>
                <string>{222,202}</string>
                <key>spriteSourceSize</key>
                <string>{242,202}</string>
                <key>textureRect</key>
                <string>{{402,1},{222,202}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>secretDoor_closed_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-7}</string>
                <key>spriteSize</key>
                <string>{110,142}</string>
                <key>spriteSourceSize</key>
                <string>{112,156}</string>
                <key>textureRect</key>
                <string>{{901,96},{110,142}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>secretDoor_open_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-18,-7}</string>
                <key>spriteSize</key>
                <string>{150,142}</string>
                <key>spriteSourceSize</key>
                <string>{186,156}</string>
                <key>textureRect</key>
                <string>{{756,96},{150,142}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>secretEyes_01_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,36}</string>
                <key>spriteSourceSize</key>
                <string>{92,36}</string>
                <key>textureRect</key>
                <string>{{1319,1},{92,36}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>secretEyes_02_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{91,39}</string>
                <key>spriteSourceSize</key>
                <string>{91,39}</string>
                <key>textureRect</key>
                <string>{{1014,195},{91,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>secretLock01_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{84,86}</string>
                <key>spriteSourceSize</key>
                <string>{84,88}</string>
                <key>textureRect</key>
                <string>{{1097,96},{84,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>secretLock02_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{84,86}</string>
                <key>spriteSourceSize</key>
                <string>{84,88}</string>
                <key>textureRect</key>
                <string>{{1184,96},{84,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>secretLock03_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{84,86}</string>
                <key>spriteSourceSize</key>
                <string>{84,88}</string>
                <key>textureRect</key>
                <string>{{1271,96},{84,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>SecretSheet-hd.png</string>
            <key>size</key>
            <string>{1356,252}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f7aaea143f56a88c3b7b773a97aed7e8:8838e243961335a2cf6a2b520a6d1ca0:a9ed24577894c043cac97b1cc0f1b6f8$</string>
            <key>textureFileName</key>
            <string>SecretSheet-hd.png</string>
        </dict>
    </dict>
</plist>
