<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>worldDot_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{8,5}</string>
                <key>spriteSourceSize</key>
                <string>{8,5}</string>
                <key>textureRect</key>
                <string>{{487,1},{8,5}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>worldIsland_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{440,207}</string>
                <key>spriteSourceSize</key>
                <string>{440,207}</string>
                <key>textureRect</key>
                <string>{{1,1},{440,207}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>worldIsland_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{420,274}</string>
                <key>spriteSourceSize</key>
                <string>{420,274}</string>
                <key>textureRect</key>
                <string>{{1,230},{420,274}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>worldLabel_01_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{226,40}</string>
                <key>spriteSourceSize</key>
                <string>{226,40}</string>
                <key>textureRect</key>
                <string>{{444,1},{226,40}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>worldLabel_02_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{269,36}</string>
                <key>spriteSourceSize</key>
                <string>{269,36}</string>
                <key>textureRect</key>
                <string>{{424,230},{269,36}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>worldLevelBtn_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,5}</string>
                <key>spriteSize</key>
                <string>{32,32}</string>
                <key>spriteSourceSize</key>
                <string>{36,42}</string>
                <key>textureRect</key>
                <string>{{463,230},{32,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>worldLevelBtn_locked_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{25,21}</string>
                <key>spriteSourceSize</key>
                <string>{25,23}</string>
                <key>textureRect</key>
                <string>{{463,265},{25,21}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>WorldSheet.png</string>
            <key>size</key>
            <string>{496,505}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fef97fb2d77bf8552229993c11fb2fff:db6cdd91dee993bb1aaf871b3389805e:1f2c487a29fed75430ca63a242a20b91$</string>
            <key>textureFileName</key>
            <string>WorldSheet.png</string>
        </dict>
    </dict>
</plist>
