<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>worldDot_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,10}</string>
                <key>spriteSourceSize</key>
                <string>{16,10}</string>
                <key>textureRect</key>
                <string>{{1,963},{16,10}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>worldIsland_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{880,413}</string>
                <key>spriteSourceSize</key>
                <string>{880,413}</string>
                <key>textureRect</key>
                <string>{{1,1},{880,413}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>worldIsland_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{840,548}</string>
                <key>spriteSourceSize</key>
                <string>{840,548}</string>
                <key>textureRect</key>
                <string>{{452,1},{840,548}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>worldLabel_01_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-2}</string>
                <key>spriteSize</key>
                <string>{448,76}</string>
                <key>spriteSourceSize</key>
                <string>{452,80}</string>
                <key>textureRect</key>
                <string>{{1,884},{448,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>worldLabel_02_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-2}</string>
                <key>spriteSize</key>
                <string>{534,68}</string>
                <key>spriteSourceSize</key>
                <string>{538,72}</string>
                <key>textureRect</key>
                <string>{{452,844},{534,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>worldLevelBtn_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,12}</string>
                <key>spriteSize</key>
                <string>{62,60}</string>
                <key>spriteSourceSize</key>
                <string>{72,84}</string>
                <key>textureRect</key>
                <string>{{452,915},{62,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>worldLevelBtn_locked_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,3}</string>
                <key>spriteSize</key>
                <string>{50,40}</string>
                <key>spriteSourceSize</key>
                <string>{50,46}</string>
                <key>textureRect</key>
                <string>{{517,915},{50,40}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>WorldSheet-hd.png</string>
            <key>size</key>
            <string>{1001,976}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fef97fb2d77bf8552229993c11fb2fff:db6cdd91dee993bb1aaf871b3389805e:1f2c487a29fed75430ca63a242a20b91$</string>
            <key>textureFileName</key>
            <string>WorldSheet-hd.png</string>
        </dict>
    </dict>
</plist>
