<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dungeonShine_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{115,127}</string>
                <key>spriteSourceSize</key>
                <string>{115,129}</string>
                <key>textureRect</key>
                <string>{{332,1},{115,127}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dungeon_gate_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,17}</string>
                <key>spriteSize</key>
                <string>{328,286}</string>
                <key>spriteSourceSize</key>
                <string>{342,320}</string>
                <key>textureRect</key>
                <string>{{1,1},{328,286}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>DungeonSheet.png</string>
            <key>size</key>
            <string>{448,288}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6506a477a5fe94c2174016c8494c17bd:363eaa01fbe330733ec1026b1e232543:39c8688f9d1d3bc4272b59a83a444a6e$</string>
            <key>textureFileName</key>
            <string>DungeonSheet.png</string>
        </dict>
    </dict>
</plist>
