<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>island_bonus_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{59,62}</string>
                <key>spriteSourceSize</key>
                <string>{59,62}</string>
                <key>textureRect</key>
                <string>{{303,155},{59,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>island_bonus_locked_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{59,62}</string>
                <key>spriteSourceSize</key>
                <string>{59,62}</string>
                <key>textureRect</key>
                <string>{{121,233},{59,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>island_chaos_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{61,61}</string>
                <key>spriteSourceSize</key>
                <string>{61,61}</string>
                <key>textureRect</key>
                <string>{{241,103},{61,61}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>island_chaos_locked_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{61,61}</string>
                <key>spriteSourceSize</key>
                <string>{61,61}</string>
                <key>textureRect</key>
                <string>{{241,165},{61,61}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>island_crystal_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{59,58}</string>
                <key>spriteSourceSize</key>
                <string>{59,60}</string>
                <key>textureRect</key>
                <string>{{121,296},{59,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>island_crystal_locked_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{59,58}</string>
                <key>spriteSourceSize</key>
                <string>{59,60}</string>
                <key>textureRect</key>
                <string>{{181,294},{59,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>island_death_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,5}</string>
                <key>spriteSize</key>
                <string>{59,70}</string>
                <key>spriteSourceSize</key>
                <string>{59,80}</string>
                <key>textureRect</key>
                <string>{{1,35},{59,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>island_death_locked_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,5}</string>
                <key>spriteSize</key>
                <string>{59,70}</string>
                <key>spriteSourceSize</key>
                <string>{59,80}</string>
                <key>textureRect</key>
                <string>{{1,106},{59,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>island_demon_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{59,64}</string>
                <key>spriteSourceSize</key>
                <string>{59,64}</string>
                <key>textureRect</key>
                <string>{{121,104},{59,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>island_demon_locked_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{59,64}</string>
                <key>spriteSourceSize</key>
                <string>{59,64}</string>
                <key>textureRect</key>
                <string>{{181,103},{59,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>island_doom_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{59,68}</string>
                <key>spriteSourceSize</key>
                <string>{59,70}</string>
                <key>textureRect</key>
                <string>{{61,105},{59,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>island_doom_locked_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{59,68}</string>
                <key>spriteSourceSize</key>
                <string>{59,70}</string>
                <key>textureRect</key>
                <string>{{121,35},{59,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>island_fire_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{59,61}</string>
                <key>spriteSourceSize</key>
                <string>{59,61}</string>
                <key>textureRect</key>
                <string>{{181,232},{59,61}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>island_fire_locked_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{59,61}</string>
                <key>spriteSourceSize</key>
                <string>{59,61}</string>
                <key>textureRect</key>
                <string>{{241,227},{59,61}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>island_ice_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{59,56}</string>
                <key>spriteSourceSize</key>
                <string>{59,56}</string>
                <key>textureRect</key>
                <string>{{1,313},{59,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>island_ice_locked_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{59,56}</string>
                <key>spriteSourceSize</key>
                <string>{59,56}</string>
                <key>textureRect</key>
                <string>{{241,289},{59,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>island_lava_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,67}</string>
                <key>spriteSourceSize</key>
                <string>{60,67}</string>
                <key>textureRect</key>
                <string>{{181,35},{60,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>island_lava_locked_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,67}</string>
                <key>spriteSourceSize</key>
                <string>{60,67}</string>
                <key>textureRect</key>
                <string>{{242,35},{60,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>island_magic_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{59,64}</string>
                <key>spriteSourceSize</key>
                <string>{59,64}</string>
                <key>textureRect</key>
                <string>{{61,240},{59,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>island_magic_locked_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{59,64}</string>
                <key>spriteSourceSize</key>
                <string>{59,64}</string>
                <key>textureRect</key>
                <string>{{61,305},{59,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>island_monster_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{59,65}</string>
                <key>spriteSourceSize</key>
                <string>{59,65}</string>
                <key>textureRect</key>
                <string>{{1,247},{59,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>island_monster_locked_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{59,65}</string>
                <key>spriteSourceSize</key>
                <string>{59,65}</string>
                <key>textureRect</key>
                <string>{{61,174},{59,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>island_poison_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{59,63}</string>
                <key>spriteSourceSize</key>
                <string>{59,65}</string>
                <key>textureRect</key>
                <string>{{121,169},{59,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>island_poison_locked_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{59,63}</string>
                <key>spriteSourceSize</key>
                <string>{59,65}</string>
                <key>textureRect</key>
                <string>{{181,168},{59,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>island_shadow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{59,55}</string>
                <key>spriteSourceSize</key>
                <string>{59,59}</string>
                <key>textureRect</key>
                <string>{{303,218},{59,55}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>island_shadow_locked_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{59,55}</string>
                <key>spriteSourceSize</key>
                <string>{59,59}</string>
                <key>textureRect</key>
                <string>{{301,274},{59,55}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>island_spike_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{59,69}</string>
                <key>spriteSourceSize</key>
                <string>{59,71}</string>
                <key>textureRect</key>
                <string>{{61,35},{59,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>island_spike_locked_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{59,69}</string>
                <key>spriteSourceSize</key>
                <string>{59,71}</string>
                <key>textureRect</key>
                <string>{{1,177},{59,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>island_time_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{59,66}</string>
                <key>spriteSourceSize</key>
                <string>{59,68}</string>
                <key>textureRect</key>
                <string>{{303,35},{59,66}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>island_time_locked_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{59,66}</string>
                <key>spriteSourceSize</key>
                <string>{59,68}</string>
                <key>textureRect</key>
                <string>{{303,95},{59,66}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>theLostGauntletsLabel_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-1}</string>
                <key>spriteSize</key>
                <string>{314,33}</string>
                <key>spriteSourceSize</key>
                <string>{316,35}</string>
                <key>textureRect</key>
                <string>{{1,1},{314,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>GauntletSheet.png</string>
            <key>size</key>
            <string>{370,370}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b1cb7513a363122a02b0f9b51d34302f:e885d3243e6a3832f976c9822ec7f4f7:2d670d95cceff8584d2805d56f85ba00$</string>
            <key>textureFileName</key>
            <string>GauntletSheet.png</string>
        </dict>
    </dict>
</plist>
