<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Robot</key>
	<dict>
		<key>animDesc</key>
		<string>Robot_AnimDesc.plist</string>
		<key>animations</key>
		<dict>
			<key>run</key>
			<dict>
				<key>delay</key>
				<string>0.0275</string>
				<key>frames</key>
				<string>16</string>
				<key>looped</key>
				<string>1</string>
				<key>other</key>
				<string>0</string>
				<key>prio</key>
				<string>4</string>
				<key>usesParts</key>
				<string>1</string>
			</dict>
			<key>jump_start</key>
			<dict>
				<key>delay</key>
				<string>0.02</string>
				<key>frames</key>
				<string>5</string>
				<key>looped</key>
				<string>0</string>
				<key>other</key>
				<string>0</string>
				<key>prio</key>
				<string>4</string>
				<key>usesParts</key>
				<string>1</string>
			</dict>
			<key>jump_loop</key>
			<dict>
				<key>delay</key>
				<string>0.05</string>
				<key>frames</key>
				<string>5</string>
				<key>looped</key>
				<string>1</string>
				<key>other</key>
				<string>0</string>
				<key>prio</key>
				<string>4</string>
				<key>usesParts</key>
				<string>1</string>
			</dict>
			<key>fall_start</key>
			<dict>
				<key>delay</key>
				<string>0.02</string>
				<key>frames</key>
				<string>7</string>
				<key>looped</key>
				<string>0</string>
				<key>other</key>
				<string>0</string>
				<key>prio</key>
				<string>4</string>
				<key>usesParts</key>
				<string>1</string>
			</dict>
			<key>fall_loop</key>
			<dict>
				<key>delay</key>
				<string>0.05</string>
				<key>frames</key>
				<string>5</string>
				<key>looped</key>
				<string>1</string>
				<key>other</key>
				<string>0</string>
				<key>prio</key>
				<string>4</string>
				<key>usesParts</key>
				<string>1</string>
			</dict>
			<key>idle</key>
			<dict>
				<key>singleFrame</key>
				<string>Robot_idle_001.png</string>
				<key>prio</key>
				<string>4</string>
				<key>usesParts</key>
				<string>1</string>
			</dict>
		</dict>
		<key>defaultAnimation</key>
		<string>run</string>
		<key>spriteSheet</key>
		<string>GJ_GameSheet02</string>
		<key>useFBF</key>
		<string>0</string>
		<key>usePA</key>
		<string>1</string>
	</dict>
	<key>Spider</key>
	<dict>
		<key>animDesc</key>
		<string>Spider_AnimDesc.plist</string>
		<key>animations</key>
		<dict>
			<key>fall_loop</key>
			<dict>
				<key>delay</key>
				<string>0.05</string>
				<key>frames</key>
				<string>5</string>
				<key>looped</key>
				<string>1</string>
				<key>other</key>
				<string>0</string>
				<key>prio</key>
				<string>4</string>
				<key>usesParts</key>
				<string>1</string>
			</dict>
			<key>run</key>
			<dict>
				<key>delay</key>
				<string>0.04</string>
				<key>frames</key>
				<string>7</string>
				<key>looped</key>
				<string>1</string>
				<key>other</key>
				<string>0</string>
				<key>prio</key>
				<string>4</string>
				<key>usesParts</key>
				<string>1</string>
			</dict>
			<key>walk</key>
			<dict>
				<key>delay</key>
				<string>0.03</string>
				<key>frames</key>
				<string>7</string>
				<key>looped</key>
				<string>1</string>
				<key>other</key>
				<string>0</string>
				<key>prio</key>
				<string>4</string>
				<key>usesParts</key>
				<string>1</string>
			</dict>
			<key>idle</key>
			<dict>
				<key>singleFrame</key>
				<string>Spider_idle_001.png</string>
				<key>prio</key>
				<string>4</string>
				<key>usesParts</key>
				<string>1</string>
			</dict>
			<key>jump</key>
			<dict>
				<key>singleFrame</key>
				<string>Spider_jump_001.png</string>
				<key>prio</key>
				<string>4</string>
				<key>usesParts</key>
				<string>1</string>
			</dict>
		</dict>
		<key>defaultAnimation</key>
		<string>run</string>
		<key>spriteSheet</key>
		<string>GJ_GameSheet02</string>
		<key>useFBF</key>
		<string>0</string>
		<key>usePA</key>
		<string>1</string>
	</dict>
	<key>GJBeast01</key>
	<dict>
		<key>animDesc</key>
		<string>GJBeast01_AnimDesc.plist</string>
		<key>animations</key>
		<dict>
			<key>bite</key>
			<dict>
				<key>delay</key>
				<string>0.025</string>
				<key>frames</key>
				<string>16</string>
				<key>looped</key>
				<string>1</string>
				<key>other</key>
				<string>0</string>
				<key>prio</key>
				<string>4</string>
				<key>usesParts</key>
				<string>1</string>
			</dict>
			<key>attack01</key>
			<dict>
				<key>delay</key>
				<string>0.025</string>
				<key>frames</key>
				<string>3</string>
				<key>looped</key>
				<string>0</string>
				<key>other</key>
				<string>0</string>
				<key>prio</key>
				<string>4</string>
				<key>usesParts</key>
				<string>1</string>
			</dict>
			<key>attack01_loop</key>
			<dict>
				<key>delay</key>
				<string>0.025</string>
				<key>frames</key>
				<string>7</string>
				<key>looped</key>
				<string>1</string>
				<key>other</key>
				<string>0</string>
				<key>prio</key>
				<string>4</string>
				<key>usesParts</key>
				<string>1</string>
			</dict>
			<key>attack01_end</key>
			<dict>
				<key>delay</key>
				<string>0.04</string>
				<key>frames</key>
				<string>6</string>
				<key>looped</key>
				<string>0</string>
				<key>other</key>
				<string>0</string>
				<key>prio</key>
				<string>4</string>
				<key>usesParts</key>
				<string>1</string>
			</dict>
			<key>idle01</key>
			<dict>
				<key>delay</key>
				<string>0.05</string>
				<key>frames</key>
				<string>8</string>
				<key>looped</key>
				<string>1</string>
				<key>other</key>
				<string>0</string>
				<key>prio</key>
				<string>4</string>
				<key>usesParts</key>
				<string>1</string>
			</dict>
		</dict>
		<key>defaultAnimation</key>
		<string>bite</string>
		<key>spriteSheet</key>
		<string>FireSheet_01</string>
		<key>useFBF</key>
		<string>0</string>
		<key>usePA</key>
		<string>1</string>
	</dict>
	<key>GJBeast02</key>
	<dict>
		<key>animDesc</key>
		<string>GJBeast02_AnimDesc.plist</string>
		<key>animations</key>
		<dict>
			<key>idle01</key>
			<dict>
				<key>delay</key>
				<string>0.06</string>
				<key>frames</key>
				<string>9</string>
				<key>looped</key>
				<string>0</string>
				<key>other</key>
				<string>0</string>
				<key>prio</key>
				<string>4</string>
				<key>usesParts</key>
				<string>1</string>
			</dict>
			<key>idle02</key>
			<dict>
				<key>delay</key>
				<string>0.06</string>
				<key>frames</key>
				<string>9</string>
				<key>looped</key>
				<string>0</string>
				<key>other</key>
				<string>0</string>
				<key>prio</key>
				<string>4</string>
				<key>usesParts</key>
				<string>1</string>
			</dict>
		</dict>
		<key>defaultAnimation</key>
		<string>idle01</string>
		<key>spriteSheet</key>
		<string>FireSheet_01</string>
		<key>useFBF</key>
		<string>0</string>
		<key>usePA</key>
		<string>1</string>
	</dict>
	<key>GJBeast03</key>
	<dict>
		<key>animDesc</key>
		<string>GJBeast03_AnimDesc.plist</string>
		<key>animations</key>
		<dict>
			<key>idle01</key>
			<dict>
				<key>delay</key>
				<string>0.06</string>
				<key>frames</key>
				<string>9</string>
				<key>looped</key>
				<string>0</string>
				<key>other</key>
				<string>0</string>
				<key>prio</key>
				<string>4</string>
				<key>usesParts</key>
				<string>1</string>
			</dict>
			<key>idle02</key>
			<dict>
				<key>delay</key>
				<string>0.06</string>
				<key>frames</key>
				<string>9</string>
				<key>looped</key>
				<string>0</string>
				<key>other</key>
				<string>0</string>
				<key>prio</key>
				<string>4</string>
				<key>usesParts</key>
				<string>1</string>
			</dict>
		</dict>
		<key>defaultAnimation</key>
		<string>idle01</string>
		<key>spriteSheet</key>
		<string>FireSheet_01</string>
		<key>useFBF</key>
		<string>0</string>
		<key>usePA</key>
		<string>1</string>
	</dict>
	<key>GJBeast04</key>
	<dict>
		<key>animDesc</key>
		<string>GJBeast04_AnimDesc.plist</string>
		<key>animations</key>
		<dict>
			<key>idle01</key>
			<dict>
				<key>delay</key>
				<string>0.06</string>
				<key>frames</key>
				<string>14</string>
				<key>looped</key>
				<string>0</string>
				<key>other</key>
				<string>0</string>
				<key>prio</key>
				<string>4</string>
				<key>usesParts</key>
				<string>1</string>
			</dict>
			<key>idle02</key>
			<dict>
				<key>delay</key>
				<string>0.06</string>
				<key>frames</key>
				<string>14</string>
				<key>looped</key>
				<string>0</string>
				<key>other</key>
				<string>0</string>
				<key>prio</key>
				<string>4</string>
				<key>usesParts</key>
				<string>1</string>
			</dict>
			<key>idle03</key>
			<dict>
				<key>delay</key>
				<string>0.06</string>
				<key>frames</key>
				<string>14</string>
				<key>looped</key>
				<string>0</string>
				<key>other</key>
				<string>0</string>
				<key>prio</key>
				<string>4</string>
				<key>usesParts</key>
				<string>1</string>
			</dict>
			<key>attack01</key>
			<dict>
				<key>delay</key>
				<string>0.06</string>
				<key>frames</key>
				<string>9</string>
				<key>looped</key>
				<string>0</string>
				<key>other</key>
				<string>0</string>
				<key>prio</key>
				<string>4</string>
				<key>usesParts</key>
				<string>1</string>
			</dict>
			<key>attack02</key>
			<dict>
				<key>delay</key>
				<string>0.06</string>
				<key>frames</key>
				<string>3</string>
				<key>looped</key>
				<string>0</string>
				<key>other</key>
				<string>0</string>
				<key>prio</key>
				<string>4</string>
				<key>usesParts</key>
				<string>1</string>
			</dict>
			<key>attack02_loop</key>
			<dict>
				<key>delay</key>
				<string>0.05</string>
				<key>frames</key>
				<string>6</string>
				<key>looped</key>
				<string>1</string>
				<key>other</key>
				<string>0</string>
				<key>prio</key>
				<string>4</string>
				<key>usesParts</key>
				<string>1</string>
			</dict>
			<key>attack02_end</key>
			<dict>
				<key>delay</key>
				<string>0.06</string>
				<key>frames</key>
				<string>5</string>
				<key>looped</key>
				<string>0</string>
				<key>other</key>
				<string>0</string>
				<key>prio</key>
				<string>4</string>
				<key>usesParts</key>
				<string>1</string>
			</dict>
			<key>sleep</key>
			<dict>
				<key>delay</key>
				<string>0.06</string>
				<key>frames</key>
				<string>9</string>
				<key>looped</key>
				<string>0</string>
				<key>other</key>
				<string>0</string>
				<key>prio</key>
				<string>4</string>
				<key>usesParts</key>
				<string>1</string>
			</dict>
			<key>sleep_loop</key>
			<dict>
				<key>delay</key>
				<string>0.05</string>
				<key>frames</key>
				<string>13</string>
				<key>looped</key>
				<string>1</string>
				<key>other</key>
				<string>0</string>
				<key>prio</key>
				<string>4</string>
				<key>usesParts</key>
				<string>1</string>
			</dict>
			<key>sleep_end</key>
			<dict>
				<key>delay</key>
				<string>0.06</string>
				<key>frames</key>
				<string>9</string>
				<key>looped</key>
				<string>0</string>
				<key>other</key>
				<string>0</string>
				<key>prio</key>
				<string>4</string>
				<key>usesParts</key>
				<string>1</string>
			</dict>
		</dict>
		<key>defaultAnimation</key>
		<string>idle01</string>
		<key>spriteSheet</key>
		<string>FireSheet_01</string>
		<key>useFBF</key>
		<string>0</string>
		<key>usePA</key>
		<string>1</string>
	</dict>
	<key>BlackSludge</key>
	<dict>
		<key>animDesc</key>
		<string>BlackSludge_AnimDesc.plist</string>
		<key>animations</key>
		<dict>
			<key>loop</key>
			<dict>
				<key>delay</key>
				<string>0.06</string>
				<key>frames</key>
				<string>11</string>
				<key>looped</key>
				<string>1</string>
				<key>other</key>
				<string>0</string>
				<key>prio</key>
				<string>4</string>
				<key>usesParts</key>
				<string>1</string>
			</dict>
		</dict>
		<key>defaultAnimation</key>
		<string>loop</string>
		<key>spriteSheet</key>
		<string>GJ_GameSheet</string>
		<key>useFBF</key>
		<string>0</string>
		<key>usePA</key>
		<string>1</string>
	</dict>
	<key>GJShopKeeper</key>
	<dict>
		<key>animDesc</key>
		<string>GJShopKeeper_AnimDesc.plist</string>
		<key>animations</key>
		<dict>
			<key>idle00</key>
			<dict>
				<key>delay</key>
				<string>0.08</string>
				<key>frames</key>
				<string>17</string>
				<key>looped</key>
				<string>0</string>
				<key>other</key>
				<string>0</string>
				<key>prio</key>
				<string>4</string>
				<key>usesParts</key>
				<string>1</string>
			</dict>
			<key>idle01</key>
			<dict>
				<key>delay</key>
				<string>0.08</string>
				<key>frames</key>
				<string>17</string>
				<key>looped</key>
				<string>0</string>
				<key>other</key>
				<string>0</string>
				<key>prio</key>
				<string>4</string>
				<key>usesParts</key>
				<string>1</string>
			</dict>
			<key>idle02</key>
			<dict>
				<key>delay</key>
				<string>0.08</string>
				<key>frames</key>
				<string>17</string>
				<key>looped</key>
				<string>0</string>
				<key>other</key>
				<string>0</string>
				<key>prio</key>
				<string>4</string>
				<key>usesParts</key>
				<string>1</string>
			</dict>
			<key>idle03</key>
			<dict>
				<key>delay</key>
				<string>0.10</string>
				<key>frames</key>
				<string>30</string>
				<key>looped</key>
				<string>0</string>
				<key>other</key>
				<string>0</string>
				<key>prio</key>
				<string>4</string>
				<key>usesParts</key>
				<string>1</string>
			</dict>
			<key>static</key>
			<dict>
				<key>singleFrame</key>
				<string>GJShopKeeper_static_001.png</string>
				<key>prio</key>
				<string>4</string>
				<key>usesParts</key>
				<string>1</string>
			</dict>
		</dict>
		<key>defaultAnimation</key>
		<string>idle00</string>
		<key>spriteSheet</key>
		<string>GJ_ShopSheet</string>
		<key>useFBF</key>
		<string>0</string>
		<key>usePA</key>
		<string>1</string>
	</dict>
	<key>GJShopKeeper2</key>
	<dict>
		<key>animDesc</key>
		<string>GJShopKeeper2_AnimDesc.plist</string>
		<key>animations</key>
		<dict>
			<key>idle00</key>
			<dict>
				<key>delay</key>
				<string>0.08</string>
				<key>frames</key>
				<string>17</string>
				<key>looped</key>
				<string>0</string>
				<key>other</key>
				<string>0</string>
				<key>prio</key>
				<string>4</string>
				<key>usesParts</key>
				<string>1</string>
			</dict>
			<key>idle01</key>
			<dict>
				<key>delay</key>
				<string>0.08</string>
				<key>frames</key>
				<string>17</string>
				<key>looped</key>
				<string>0</string>
				<key>other</key>
				<string>0</string>
				<key>prio</key>
				<string>4</string>
				<key>usesParts</key>
				<string>1</string>
			</dict>
			<key>idle02</key>
			<dict>
				<key>delay</key>
				<string>0.08</string>
				<key>frames</key>
				<string>17</string>
				<key>looped</key>
				<string>0</string>
				<key>other</key>
				<string>0</string>
				<key>prio</key>
				<string>4</string>
				<key>usesParts</key>
				<string>1</string>
			</dict>
			<key>idle03</key>
			<dict>
				<key>delay</key>
				<string>0.10</string>
				<key>frames</key>
				<string>30</string>
				<key>looped</key>
				<string>0</string>
				<key>other</key>
				<string>0</string>
				<key>prio</key>
				<string>4</string>
				<key>usesParts</key>
				<string>1</string>
			</dict>
			<key>static</key>
			<dict>
				<key>singleFrame</key>
				<string>GJShopKeeper2_static_001.png</string>
				<key>prio</key>
				<string>4</string>
				<key>usesParts</key>
				<string>1</string>
			</dict>
		</dict>
		<key>defaultAnimation</key>
		<string>idle00</string>
		<key>spriteSheet</key>
		<string>GJ_ShopSheet</string>
		<key>useFBF</key>
		<string>0</string>
		<key>usePA</key>
		<string>1</string>
	</dict>
	<key>GJShopKeeper3</key>
	<dict>
		<key>animDesc</key>
		<string>GJShopKeeper3_AnimDesc.plist</string>
		<key>animations</key>
		<dict>
			<key>idle00</key>
			<dict>
				<key>delay</key>
				<string>0.08</string>
				<key>frames</key>
				<string>17</string>
				<key>looped</key>
				<string>0</string>
				<key>other</key>
				<string>0</string>
				<key>prio</key>
				<string>4</string>
				<key>usesParts</key>
				<string>1</string>
			</dict>
			<key>idle01</key>
			<dict>
				<key>delay</key>
				<string>0.08</string>
				<key>frames</key>
				<string>17</string>
				<key>looped</key>
				<string>0</string>
				<key>other</key>
				<string>0</string>
				<key>prio</key>
				<string>4</string>
				<key>usesParts</key>
				<string>1</string>
			</dict>
			<key>idle02</key>
			<dict>
				<key>delay</key>
				<string>0.08</string>
				<key>frames</key>
				<string>17</string>
				<key>looped</key>
				<string>0</string>
				<key>other</key>
				<string>0</string>
				<key>prio</key>
				<string>4</string>
				<key>usesParts</key>
				<string>1</string>
			</dict>
			<key>idle03</key>
			<dict>
				<key>delay</key>
				<string>0.10</string>
				<key>frames</key>
				<string>30</string>
				<key>looped</key>
				<string>0</string>
				<key>other</key>
				<string>0</string>
				<key>prio</key>
				<string>4</string>
				<key>usesParts</key>
				<string>1</string>
			</dict>
			<key>static</key>
			<dict>
				<key>singleFrame</key>
				<string>GJShopKeeper3_static_001.png</string>
				<key>prio</key>
				<string>4</string>
				<key>usesParts</key>
				<string>1</string>
			</dict>
		</dict>
		<key>defaultAnimation</key>
		<string>idle00</string>
		<key>spriteSheet</key>
		<string>GJ_ShopSheet</string>
		<key>useFBF</key>
		<string>0</string>
		<key>usePA</key>
		<string>1</string>
	</dict>
</dict>
</plist>
