<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>geometry.ach.attempt01</key>
	<dict>
		<key>achievedDescription</key>
		<string>Did 100 attempts</string>
		<key>googleID</key>
		<string>CgkIm5vi-_cMEAIQFw</string>
		<key>icon</key>
		<string>color2_06</string>
		<key>identifier</key>
		<string>geometry.ach.attempt01</string>
		<key>order</key>
		<integer>20</integer>
		<key>title</key>
		<string>U can do it!</string>
		<key>unachievedDescription</key>
		<string>Do 100 attempts</string>
	</dict>
	<key>geometry.ach.attempt02</key>
	<dict>
		<key>achievedDescription</key>
		<string>Did 500 attempts</string>
		<key>googleID</key>
		<string>CgkIm5vi-_cMEAIQGA</string>
		<key>icon</key>
		<string>color2_07</string>
		<key>identifier</key>
		<string>geometry.ach.attempt02</string>
		<key>order</key>
		<integer>21</integer>
		<key>title</key>
		<string>Trial and error</string>
		<key>unachievedDescription</key>
		<string>Do 500 attempts</string>
	</dict>
	<key>geometry.ach.attempt03</key>
	<dict>
		<key>achievedDescription</key>
		<string>Did 2000 attempts</string>
		<key>googleID</key>
		<string>CgkIm5vi-_cMEAIQNw</string>
		<key>icon</key>
		<string>color2_14</string>
		<key>identifier</key>
		<string>geometry.ach.attempt03</string>
		<key>order</key>
		<real>21.5</real>
		<key>title</key>
		<string>Crash Tester</string>
		<key>unachievedDescription</key>
		<string>Do 2000 attempts</string>
	</dict>
	<key>geometry.ach.attempt04</key>
	<dict>
		<key>achievedDescription</key>
		<string>Did 10000 attempts</string>
		<key>identifier</key>
		<string>geometry.ach.attempt03</string>
		<key>order</key>
		<real>21.6</real>
		<key>title</key>
		<string>Stop it!</string>
		<key>icon</key>
		<string>color2_17</string>
		<key>unachievedDescription</key>
		<string>Do 10000 attempts</string>
		<key>googleID</key>
		<string>CgkIm5vi-_cMEAIQNw</string>
	</dict>
	<key>geometry.ach.coins01</key>
	<dict>
		<key>achievedDescription</key>
		<string>Collected 5 Secret Coins</string>
		<key>googleID</key>
		<string>CgkIm5vi-_cMEAIQJQ</string>
		<key>icon</key>
		<string>icon_31</string>
		<key>identifier</key>
		<string>geometry.ach.coins01</string>
		<key>order</key>
		<real>15.1</real>
		<key>title</key>
		<string>Coins?!</string>
		<key>unachievedDescription</key>
		<string>Collect 5 Secret Coins</string>
	</dict>
	<key>geometry.ach.coins02</key>
	<dict>
		<key>achievedDescription</key>
		<string>Collected 10 Secret Coins</string>
		<key>googleID</key>
		<string>CgkIm5vi-_cMEAIQJQ</string>
		<key>icon</key>
		<string>ship_04</string>
		<key>identifier</key>
		<string>geometry.ach.coins02</string>
		<key>order</key>
		<real>15.2</real>
		<key>title</key>
		<string>Maybe behind that block?</string>
		<key>unachievedDescription</key>
		<string>Collect 10 Secret Coins</string>
	</dict>
	<key>geometry.ach.coins03</key>
	<dict>
		<key>achievedDescription</key>
		<string>Collected 15 Secret Coins</string>
		<key>googleID</key>
		<string>CgkIm5vi-_cMEAIQJQ</string>
		<key>icon</key>
		<string>ship_05</string>
		<key>identifier</key>
		<string>geometry.ach.coins03</string>
		<key>order</key>
		<real>15.3</real>
		<key>title</key>
		<string>I.. Need... MORE!</string>
		<key>unachievedDescription</key>
		<string>Collect 15 Secret Coins</string>
	</dict>
	<key>geometry.ach.coins04</key>
	<dict>
		<key>achievedDescription</key>
		<string>Collected 20 Secret Coins</string>
		<key>googleID</key>
		<string>CgkIm5vi-_cMEAIQJQ</string>
		<key>icon</key>
		<string>ship_06</string>
		<key>identifier</key>
		<string>geometry.ach.coins04</string>
		<key>order</key>
		<real>15.4</real>
		<key>title</key>
		<string>We wants it!</string>
		<key>unachievedDescription</key>
		<string>Collect 20 Secret Coins</string>
	</dict>
	<key>geometry.ach.coins05</key>
	<dict>
		<key>achievedDescription</key>
		<string>Collected 25 Secret Coins</string>
		<key>googleID</key>
		<string>CgkIm5vi-_cMEAIQJQ</string>
		<key>icon</key>
		<string>icon_32</string>
		<key>identifier</key>
		<string>geometry.ach.coins05</string>
		<key>order</key>
		<real>15.5</real>
		<key>title</key>
		<string>We needs it!</string>
		<key>unachievedDescription</key>
		<string>Collect 25 Secret Coins</string>
	</dict>
	<key>geometry.ach.coins06</key>
	<dict>
		<key>achievedDescription</key>
		<string>Collected 30 Secret Coins</string>
		<key>googleID</key>
		<string>CgkIm5vi-_cMEAIQJQ</string>
		<key>icon</key>
		<string>color_15</string>
		<key>identifier</key>
		<string>geometry.ach.coins06</string>
		<key>order</key>
		<real>15.6</real>
		<key>title</key>
		<string>Must have the precious</string>
		<key>unachievedDescription</key>
		<string>Collect 30 Secret Coins</string>
	</dict>
	<key>geometry.ach.coins07</key>
	<dict>
		<key>achievedDescription</key>
		<string>Collected 35 Secret Coins</string>
		<key>googleID</key>
		<string>CgkIm5vi-_cMEAIQJQ</string>
		<key>icon</key>
		<string>ball_03</string>
		<key>identifier</key>
		<string>geometry.ach.coins07</string>
		<key>order</key>
		<real>15.7</real>
		<key>title</key>
		<string>They stole it from us!</string>
		<key>unachievedDescription</key>
		<string>Collect 35 Secret Coins</string>
	</dict>
	<key>geometry.ach.coins08</key>
	<dict>
		<key>achievedDescription</key>
		<string>Collected 40 Secret Coins</string>
		<key>googleID</key>
		<string>CgkIm5vi-_cMEAIQJQ</string>
		<key>icon</key>
		<string>icon_34</string>
		<key>identifier</key>
		<string>geometry.ach.coins08</string>
		<key>order</key>
		<real>15.8</real>
		<key>title</key>
		<string>Where is it?! Where is it?!</string>
		<key>unachievedDescription</key>
		<string>Collect 40 Secret Coins</string>
	</dict>
	<key>geometry.ach.coins09</key>
	<dict>
		<key>achievedDescription</key>
		<string>Collected 45 Secret Coins</string>
		<key>googleID</key>
		<string>CgkIm5vi-_cMEAIQJQ</string>
		<key>icon</key>
		<string>bird_04</string>
		<key>identifier</key>
		<string>geometry.ach.coins09</string>
		<key>order</key>
		<real>15.9</real>
		<key>title</key>
		<string>Thief, thief, thief!</string>
		<key>unachievedDescription</key>
		<string>Collect 45 Secret Coins</string>
	</dict>
	<key>geometry.ach.coins10</key>
	<dict>
		<key>achievedDescription</key>
		<string>Collected 50 Secret Coins</string>
		<key>googleID</key>
		<string>CgkIm5vi-_cMEAIQJQ</string>
		<key>icon</key>
		<string>ball_04</string>
		<key>identifier</key>
		<string>geometry.ach.coins10</string>
		<key>order</key>
		<integer>16</integer>
		<key>title</key>
		<string>My Precious...</string>
		<key>unachievedDescription</key>
		<string>Collect 50 Secret Coins</string>
	</dict>
	<key>geometry.ach.demon01</key>
	<dict>
		<key>achievedDescription</key>
		<string>Completed a Demon difficulty level in Normal mode</string>
		<key>googleID</key>
		<string>CgkIm5vi-_cMEAIQIQ</string>
		<key>icon</key>
		<string>icon_19</string>
		<key>identifier</key>
		<string>geometry.ach.demon01</string>
		<key>order</key>
		<real>14.7</real>
		<key>title</key>
		<string>Reflex Champion</string>
		<key>unachievedDescription</key>
		<string>Complete a Demon difficulty level in Normal mode</string>
	</dict>
	<key>geometry.ach.demon02</key>
	<dict>
		<key>achievedDescription</key>
		<string>Completed 2 Demon difficulty levels in Normal mode</string>
		<key>googleID</key>
		<string>CgkIm5vi-_cMEAIQIg</string>
		<key>icon</key>
		<string>icon_20</string>
		<key>identifier</key>
		<string>geometry.ach.demon02</string>
		<key>order</key>
		<real>14.8</real>
		<key>title</key>
		<string>Demon Chaser</string>
		<key>unachievedDescription</key>
		<string>Complete 2 Demon difficulty levels in Normal mode</string>
	</dict>
	<key>geometry.ach.demon03</key>
	<dict>
		<key>achievedDescription</key>
		<string>Completed 3 Demon difficulty levels in Normal mode</string>
		<key>googleID</key>
		<string>CgkIm5vi-_cMEAIQIw</string>
		<key>icon</key>
		<string>icon_21</string>
		<key>identifier</key>
		<string>geometry.ach.demon03</string>
		<key>order</key>
		<real>14.9</real>
		<key>title</key>
		<string>The One</string>
		<key>unachievedDescription</key>
		<string>Complete 3 Demon difficulty levels in Normal mode</string>
	</dict>
	<key>geometry.ach.demon04</key>
	<dict>
		<key>achievedDescription</key>
		<string>Completed 4 Demon difficulty levels in Normal mode</string>
		<key>googleID</key>
		<string>CgkIm5vi-_cMEAIQJA</string>
		<key>icon</key>
		<string>icon_22</string>
		<key>identifier</key>
		<string>geometry.ach.demon04</string>
		<key>order</key>
		<real>14.91</real>
		<key>title</key>
		<string>Demon Master</string>
		<key>unachievedDescription</key>
		<string>Complete 4 Demon difficulty levels in Normal mode</string>
	</dict>
	<key>geometry.ach.demon07</key>
	<dict>
		<key>achievedDescription</key>
		<string>Completed 15 Demon difficulty levels in Normal mode</string>
		<key>googleID</key>
		<string>CgkIm5vi-_cMEAIQMg</string>
		<key>icon</key>
		<string>ship_08</string>
		<key>identifier</key>
		<string>geometry.ach.demon07</string>
		<key>order</key>
		<real>14.931</real>
		<key>title</key>
		<string>Master of Timing</string>
		<key>unachievedDescription</key>
		<string>Complete 15 Demon difficulty levels in Normal mode</string>
	</dict>
	<key>geometry.ach.facebook</key>
	<dict>
		<key>achievedDescription</key>
		<string>Liked Geometry Dash on Facebook</string>
		<key>googleID</key>
		<string>CgkIm5vi-_cMEAIQLA</string>
		<key>icon</key>
		<string>color2_13</string>
		<key>identifier</key>
		<string>geometry.ach.facebook</string>
		<key>order</key>
		<integer>26</integer>
		<key>title</key>
		<string>Number one fan!</string>
		<key>unachievedDescription</key>
		<string>Like Geometry Dash on Facebook</string>
	</dict>
	<key>geometry.ach.jump01</key>
	<dict>
		<key>achievedDescription</key>
		<string>Jumped 1000 times</string>
		<key>googleID</key>
		<string>CgkIm5vi-_cMEAIQFA</string>
		<key>icon</key>
		<string>color2_05</string>
		<key>identifier</key>
		<string>geometry.ach.jump01</string>
		<key>order</key>
		<integer>18</integer>
		<key>title</key>
		<string>Bounce</string>
		<key>unachievedDescription</key>
		<string>Jump 1000 times</string>
	</dict>
	<key>geometry.ach.jump02</key>
	<dict>
		<key>achievedDescription</key>
		<string>Jumped 10000 times</string>
		<key>googleID</key>
		<string>CgkIm5vi-_cMEAIQFg</string>
		<key>icon</key>
		<string>color2_11</string>
		<key>identifier</key>
		<string>geometry.ach.jump02</string>
		<key>order</key>
		<integer>19</integer>
		<key>title</key>
		<string>I like jumping</string>
		<key>unachievedDescription</key>
		<string>Jump 10000 times</string>
	</dict>
	<key>geometry.ach.jump03</key>
	<dict>
		<key>achievedDescription</key>
		<string>Jumped 20000 times</string>
		<key>googleID</key>
		<string>CgkIm5vi-_cMEAIQFQ</string>
		<key>icon</key>
		<string>color2_12</string>
		<key>identifier</key>
		<string>geometry.ach.jump03</string>
		<key>order</key>
		<real>19.1</real>
		<key>title</key>
		<string>You jump like a pro!</string>
		<key>unachievedDescription</key>
		<string>Jump 20000 times</string>
	</dict>
	<key>geometry.ach.jump04</key>
	<dict>
		<key>achievedDescription</key>
		<string>Jumped 50000 times</string>
		<key>identifier</key>
		<string>geometry.ach.jump04</string>
		<key>order</key>
		<real>19.2</real>
		<key>title</key>
		<string>Hop Hop Hop</string>
		<key>icon</key>
		<string>color2_16</string>
		<key>unachievedDescription</key>
		<string>Jump 50000 times</string>
		<key>googleID</key>
		<string>CgkIm5vi-_cMEAIQFQ</string>
	</dict>
	<key>geometry.ach.level01a</key>
	<dict>
		<key>achievedDescription</key>
		<string>Completed &quot;Stereo Madness&quot; in Practice mode</string>
		<key>googleID</key>
		<string>CgkIm5vi-_cMEAIQAQ</string>
		<key>icon</key>
		<string>color_04</string>
		<key>identifier</key>
		<string>geometry.ach.level01a</string>
		<key>order</key>
		<integer>1</integer>
		<key>title</key>
		<string>Stereo Bump</string>
		<key>unachievedDescription</key>
		<string>Complete &quot;Stereo Madness&quot; in Practice mode</string>
	</dict>
	<key>geometry.ach.level01b</key>
	<dict>
		<key>achievedDescription</key>
		<string>Completed &quot;Stereo Madness&quot; in Normal mode</string>
		<key>googleID</key>
		<string>CgkIm5vi-_cMEAIQAg</string>
		<key>icon</key>
		<string>icon_05</string>
		<key>identifier</key>
		<string>geometry.ach.level01b</string>
		<key>order</key>
		<integer>2</integer>
		<key>title</key>
		<string>Stereo Madness!</string>
		<key>unachievedDescription</key>
		<string>Complete &quot;Stereo Madness&quot; in Normal mode</string>
	</dict>
	<key>geometry.ach.level02a</key>
	<dict>
		<key>achievedDescription</key>
		<string>Completed &quot;Back On Track&quot; in Practice mode</string>
		<key>googleID</key>
		<string>CgkIm5vi-_cMEAIQAw</string>
		<key>icon</key>
		<string>color_05</string>
		<key>identifier</key>
		<string>geometry.ach.level02a</string>
		<key>order</key>
		<integer>3</integer>
		<key>title</key>
		<string>On my way</string>
		<key>unachievedDescription</key>
		<string>Complete &quot;Back On Track&quot; in Practice mode</string>
	</dict>
	<key>geometry.ach.level02b</key>
	<dict>
		<key>achievedDescription</key>
		<string>Completed &quot;Back On Track&quot; in Normal mode</string>
		<key>googleID</key>
		<string>CgkIm5vi-_cMEAIQBA</string>
		<key>icon</key>
		<string>icon_06</string>
		<key>identifier</key>
		<string>geometry.ach.level02b</string>
		<key>order</key>
		<integer>4</integer>
		<key>title</key>
		<string>Back On Track!</string>
		<key>unachievedDescription</key>
		<string>Complete &quot;Back On Track&quot; in Normal mode</string>
	</dict>
	<key>geometry.ach.level03a</key>
	<dict>
		<key>achievedDescription</key>
		<string>Completed &quot;Polargeist&quot; in Practice mode</string>
		<key>googleID</key>
		<string>CgkIm5vi-_cMEAIQBQ</string>
		<key>icon</key>
		<string>color_06</string>
		<key>identifier</key>
		<string>geometry.ach.level03a</string>
		<key>order</key>
		<integer>5</integer>
		<key>title</key>
		<string>Polarbear</string>
		<key>unachievedDescription</key>
		<string>Complete &quot;Polargeist&quot; in Practice mode</string>
	</dict>
	<key>geometry.ach.level03b</key>
	<dict>
		<key>achievedDescription</key>
		<string>Completed &quot;Polargeist&quot; in Normal mode</string>
		<key>googleID</key>
		<string>CgkIm5vi-_cMEAIQBg</string>
		<key>icon</key>
		<string>icon_07</string>
		<key>identifier</key>
		<string>geometry.ach.level03b</string>
		<key>order</key>
		<integer>6</integer>
		<key>title</key>
		<string>Polargeist!</string>
		<key>unachievedDescription</key>
		<string>Complete &quot;Polargeist&quot; in Normal mode</string>
	</dict>
	<key>geometry.ach.level04a</key>
	<dict>
		<key>achievedDescription</key>
		<string>Completed &quot;Dry Out&quot; in Practice mode</string>
		<key>googleID</key>
		<string>CgkIm5vi-_cMEAIQBw</string>
		<key>icon</key>
		<string>color_07</string>
		<key>identifier</key>
		<string>geometry.ach.level04a</string>
		<key>order</key>
		<integer>7</integer>
		<key>title</key>
		<string>Dehydrated</string>
		<key>unachievedDescription</key>
		<string>Complete &quot;Dry Out&quot; in Practice mode</string>
	</dict>
	<key>geometry.ach.level04b</key>
	<dict>
		<key>achievedDescription</key>
		<string>Completed &quot;Dry Out&quot; in Normal mode</string>
		<key>googleID</key>
		<string>CgkIm5vi-_cMEAIQCQ</string>
		<key>icon</key>
		<string>icon_08</string>
		<key>identifier</key>
		<string>geometry.ach.level04b</string>
		<key>order</key>
		<integer>8</integer>
		<key>title</key>
		<string>Dry Out!</string>
		<key>unachievedDescription</key>
		<string>Complete &quot;Dry Out&quot; in Normal mode</string>
	</dict>
	<key>geometry.ach.level05a</key>
	<dict>
		<key>achievedDescription</key>
		<string>Completed &quot;Base After Base&quot; in Practice mode</string>
		<key>googleID</key>
		<string>CgkIm5vi-_cMEAIQCA</string>
		<key>icon</key>
		<string>color_08</string>
		<key>identifier</key>
		<string>geometry.ach.level05a</string>
		<key>order</key>
		<integer>9</integer>
		<key>title</key>
		<string>All your base...</string>
		<key>unachievedDescription</key>
		<string>Complete &quot;Base After Base&quot; in Practice mode</string>
	</dict>
	<key>geometry.ach.level05b</key>
	<dict>
		<key>achievedDescription</key>
		<string>Completed &quot;Base After Base&quot; in Normal mode</string>
		<key>googleID</key>
		<string>CgkIm5vi-_cMEAIQCg</string>
		<key>icon</key>
		<string>icon_09</string>
		<key>identifier</key>
		<string>geometry.ach.level05b</string>
		<key>order</key>
		<integer>10</integer>
		<key>title</key>
		<string>Base After Base!</string>
		<key>unachievedDescription</key>
		<string>Complete &quot;Base After Base&quot; in Normal mode</string>
	</dict>
	<key>geometry.ach.level06a</key>
	<dict>
		<key>achievedDescription</key>
		<string>Completed &quot;Cant Let Go&quot; in Practice mode</string>
		<key>googleID</key>
		<string>CgkIm5vi-_cMEAIQCw</string>
		<key>icon</key>
		<string>color_09</string>
		<key>identifier</key>
		<string>geometry.ach.level06a</string>
		<key>order</key>
		<integer>11</integer>
		<key>title</key>
		<string>Hold on</string>
		<key>unachievedDescription</key>
		<string>Complete &quot;Cant Let Go&quot; in Practice mode</string>
	</dict>
	<key>geometry.ach.level06b</key>
	<dict>
		<key>achievedDescription</key>
		<string>Completed &quot;Cant Let Go&quot; in Normal mode</string>
		<key>googleID</key>
		<string>CgkIm5vi-_cMEAIQDA</string>
		<key>icon</key>
		<string>icon_10</string>
		<key>identifier</key>
		<string>geometry.ach.level06b</string>
		<key>order</key>
		<integer>12</integer>
		<key>title</key>
		<string>Cant Let Go!</string>
		<key>unachievedDescription</key>
		<string>Complete &quot;Cant Let Go&quot; in Normal mode</string>
	</dict>
	<key>geometry.ach.level07a</key>
	<dict>
		<key>achievedDescription</key>
		<string>Completed &quot;Jumper&quot; in Practice mode</string>
		<key>googleID</key>
		<string>CgkIm5vi-_cMEAIQDQ</string>
		<key>icon</key>
		<string>color_10</string>
		<key>identifier</key>
		<string>geometry.ach.level07a</string>
		<key>order</key>
		<integer>13</integer>
		<key>title</key>
		<string>Hop Hop...</string>
		<key>unachievedDescription</key>
		<string>Complete &quot;Jumper&quot; in Practice mode</string>
	</dict>
	<key>geometry.ach.level07b</key>
	<dict>
		<key>achievedDescription</key>
		<string>Completed &quot;Jumper&quot; in Normal mode</string>
		<key>googleID</key>
		<string>CgkIm5vi-_cMEAIQDg</string>
		<key>icon</key>
		<string>icon_11</string>
		<key>identifier</key>
		<string>geometry.ach.level07b</string>
		<key>order</key>
		<integer>14</integer>
		<key>title</key>
		<string>Jumper!</string>
		<key>unachievedDescription</key>
		<string>Complete &quot;Jumper&quot; in Normal mode</string>
	</dict>
	<key>geometry.ach.level08a</key>
	<dict>
		<key>achievedDescription</key>
		<string>Completed &quot;Time Machine&quot; in Practice mode</string>
		<key>googleID</key>
		<string>CgkIm5vi-_cMEAIQDw</string>
		<key>icon</key>
		<string>color_12</string>
		<key>identifier</key>
		<string>geometry.ach.level08a</string>
		<key>order</key>
		<real>14.1</real>
		<key>title</key>
		<string>Tick Tock</string>
		<key>unachievedDescription</key>
		<string>Complete &quot;Time Machine&quot; in Practice mode</string>
	</dict>
	<key>geometry.ach.level08b</key>
	<dict>
		<key>achievedDescription</key>
		<string>Completed &quot;Time Machine&quot; in Normal mode</string>
		<key>googleID</key>
		<string>CgkIm5vi-_cMEAIQEA</string>
		<key>icon</key>
		<string>icon_14</string>
		<key>identifier</key>
		<string>geometry.ach.level08b</string>
		<key>order</key>
		<real>14.2</real>
		<key>title</key>
		<string>Time Machine!</string>
		<key>unachievedDescription</key>
		<string>Complete &quot;Time Machine&quot; in Normal mode</string>
	</dict>
	<key>geometry.ach.level09a</key>
	<dict>
		<key>achievedDescription</key>
		<string>Completed &quot;Cycles&quot; in Practice mode</string>
		<key>googleID</key>
		<string>CgkIm5vi-_cMEAIQHQ</string>
		<key>icon</key>
		<string>icon_15</string>
		<key>identifier</key>
		<string>geometry.ach.level09a</string>
		<key>order</key>
		<real>14.3</real>
		<key>title</key>
		<string>Loops</string>
		<key>unachievedDescription</key>
		<string>Complete &quot;Cycles&quot; in Practice mode</string>
	</dict>
	<key>geometry.ach.level09b</key>
	<dict>
		<key>achievedDescription</key>
		<string>Completed &quot;Cycles&quot; in Normal mode</string>
		<key>googleID</key>
		<string>CgkIm5vi-_cMEAIQHg</string>
		<key>icon</key>
		<string>icon_16</string>
		<key>identifier</key>
		<string>geometry.ach.level09b</string>
		<key>order</key>
		<real>14.4</real>
		<key>title</key>
		<string>Cycles!</string>
		<key>unachievedDescription</key>
		<string>Complete &quot;Cycles&quot; in Normal mode</string>
	</dict>
	<key>geometry.ach.level10a</key>
	<dict>
		<key>achievedDescription</key>
		<string>Completed &quot;xStep&quot; in Practice mode</string>
		<key>googleID</key>
		<string>CgkIm5vi-_cMEAIQHw</string>
		<key>icon</key>
		<string>icon_17</string>
		<key>identifier</key>
		<string>geometry.ach.level10a</string>
		<key>order</key>
		<real>14.5</real>
		<key>title</key>
		<string>yStep</string>
		<key>unachievedDescription</key>
		<string>Complete &quot;xStep&quot; in Practice mode</string>
	</dict>
	<key>geometry.ach.level10b</key>
	<dict>
		<key>achievedDescription</key>
		<string>Completed &quot;xStep&quot; in Normal mode</string>
		<key>googleID</key>
		<string>CgkIm5vi-_cMEAIQIA</string>
		<key>icon</key>
		<string>icon_18</string>
		<key>identifier</key>
		<string>geometry.ach.level10b</string>
		<key>order</key>
		<real>14.6</real>
		<key>title</key>
		<string>xStep!</string>
		<key>unachievedDescription</key>
		<string>Complete &quot;xStep&quot; in Normal mode</string>
	</dict>
	<key>geometry.ach.level11a</key>
	<dict>
		<key>achievedDescription</key>
		<string>Completed &quot;Clutterfunk&quot; in Practice mode</string>
		<key>googleID</key>
		<string>CgkIm5vi-_cMEAIQLQ</string>
		<key>icon</key>
		<string>color_13</string>
		<key>identifier</key>
		<string>geometry.ach.level11a</string>
		<key>order</key>
		<real>14.61</real>
		<key>title</key>
		<string>Funky</string>
		<key>unachievedDescription</key>
		<string>Complete &quot;Clutterfunk&quot; in Practice mode</string>
	</dict>
	<key>geometry.ach.level11b</key>
	<dict>
		<key>achievedDescription</key>
		<string>Completed &quot;Clutterfunk&quot; in Normal mode</string>
		<key>identifier</key>
		<string>geometry.ach.level11b</string>
		<key>order</key>
		<real>14.62</real>
		<key>title</key>
		<string>Clutterfunk!</string>
		<key>icon</key>
		<string>icon_36</string>
		<key>unachievedDescription</key>
		<string>Complete &quot;Clutterfunk&quot; in Normal mode</string>
		<key>googleID</key>
		<string>CgkIm5vi-_cMEAIQLg</string>
	</dict>
	<key>geometry.ach.level12a</key>
	<dict>
		<key>achievedDescription</key>
		<string>Completed &quot;Theory of Everything&quot; in Practice mode</string>
		<key>googleID</key>
		<string>CgkIm5vi-_cMEAIQLw</string>
		<key>icon</key>
		<string>color_14</string>
		<key>identifier</key>
		<string>geometry.ach.level12a</string>
		<key>order</key>
		<real>14.63</real>
		<key>title</key>
		<string>Theory of Something</string>
		<key>unachievedDescription</key>
		<string>Complete &quot;Theory of Everything&quot; in Practice mode</string>
	</dict>
	<key>geometry.ach.level12b</key>
	<dict>
		<key>achievedDescription</key>
		<string>Completed &quot;Theory of Everything&quot; in Normal mode</string>
		<key>googleID</key>
		<string>CgkIm5vi-_cMEAIQMA</string>
		<key>icon</key>
		<string>icon_27</string>
		<key>identifier</key>
		<string>geometry.ach.level12b</string>
		<key>order</key>
		<real>14.64</real>
		<key>title</key>
		<string>Theory of Everything!</string>
		<key>unachievedDescription</key>
		<string>Complete &quot;Theory of Everything&quot; in Normal mode</string>
	</dict>
	<key>geometry.ach.level13a</key>
	<dict>
		<key>achievedDescription</key>
		<string>Completed &quot;Electroman Adventures&quot; in Practice mode</string>
		<key>googleID</key>
		<string>CgkIm5vi-_cMEAIQLw</string>
		<key>icon</key>
		<string>color_16</string>
		<key>identifier</key>
		<string>geometry.ach.level13a</string>
		<key>order</key>
		<real>14.65</real>
		<key>title</key>
		<string>Electro Time</string>
		<key>unachievedDescription</key>
		<string>Complete &quot;Electroman Adventures&quot; in Practice mode</string>
	</dict>
	<key>geometry.ach.level13b</key>
	<dict>
		<key>achievedDescription</key>
		<string>Completed &quot;Electroman Adventures&quot; in Normal mode</string>
		<key>googleID</key>
		<string>CgkIm5vi-_cMEAIQMA</string>
		<key>icon</key>
		<string>ship_09</string>
		<key>identifier</key>
		<string>geometry.ach.level13b</string>
		<key>order</key>
		<real>14.66</real>
		<key>title</key>
		<string>Electroman Adventures!</string>
		<key>unachievedDescription</key>
		<string>Complete &quot;Electroman Adventures&quot; in Normal mode</string>
	</dict>
	<key>geometry.ach.level14a</key>
	<dict>
		<key>achievedDescription</key>
		<string>Completed &quot;Clubstep&quot; in Practice mode</string>
		<key>googleID</key>
		<string>CgkIm5vi-_cMEAIQLw</string>
		<key>icon</key>
		<string>bird_02</string>
		<key>identifier</key>
		<string>geometry.ach.level14a</string>
		<key>order</key>
		<real>14.67</real>
		<key>title</key>
		<string>Clubbin</string>
		<key>unachievedDescription</key>
		<string>Complete &quot;Clubstep&quot; in Practice mode</string>
	</dict>
	<key>geometry.ach.level14b</key>
	<dict>
		<key>achievedDescription</key>
		<string>Completed &quot;Clubstep&quot; in Normal mode</string>
		<key>googleID</key>
		<string>CgkIm5vi-_cMEAIQMA</string>
		<key>icon</key>
		<string>color2_15</string>
		<key>identifier</key>
		<string>geometry.ach.level14b</string>
		<key>order</key>
		<real>14.68</real>
		<key>title</key>
		<string>Clubstep!</string>
		<key>unachievedDescription</key>
		<string>Complete &quot;Clubstep&quot; in Normal mode</string>
	</dict>
	<key>geometry.ach.like</key>
	<dict>
		<key>achievedDescription</key>
		<string>Liked an online level</string>
		<key>googleID</key>
		<string>CgkIm5vi-_cMEAIQGQ</string>
		<key>icon</key>
		<string>color2_08</string>
		<key>identifier</key>
		<string>geometry.ach.like</string>
		<key>order</key>
		<integer>22</integer>
		<key>title</key>
		<string>Helper</string>
		<key>unachievedDescription</key>
		<string>Like an online level</string>
	</dict>
	<key>geometry.ach.lite01</key>
	<dict>
		<key>achievedDescription</key>
		<string>Followed RobTop Games on Twitter</string>
		<key>googleID</key>
		<string>CgkIm5vi-_cMEAIQLg</string>
		<key>icon</key>
		<string>color2_09</string>
		<key>identifier</key>
		<string>geometry.ach.lite01</string>
		<key>order</key>
		<integer>27</integer>
		<key>title</key>
		<string>Geometry Bird!</string>
		<key>unachievedDescription</key>
		<string>Follow RobTop Games on Twitter</string>
	</dict>
	<key>geometry.ach.lite02</key>
	<dict>
		<key>achievedDescription</key>
		<string>Supported the artists!</string>
		<key>googleID</key>
		<string>CgkIm5vi-_cMEAIQLg</string>
		<key>icon</key>
		<string>color_11</string>
		<key>identifier</key>
		<string>geometry.ach.lite02</string>
		<key>order</key>
		<integer>28</integer>
		<key>title</key>
		<string>Epic Musician!</string>
		<key>unachievedDescription</key>
		<string>Look at the Soudtracks page</string>
	</dict>
	<key>geometry.ach.lite03</key>
	<dict>
		<key>achievedDescription</key>
		<string>Completed 4 levels in Normal Mode</string>
		<key>googleID</key>
		<string>CgkIm5vi-_cMEAIQLg</string>
		<key>icon</key>
		<string>ship_02</string>
		<key>identifier</key>
		<string>geometry.ach.lite03</string>
		<key>order</key>
		<integer>29</integer>
		<key>title</key>
		<string>Geometry Master!</string>
		<key>unachievedDescription</key>
		<string>Complete 4 levels in Normal Mode</string>
	</dict>
	<key>geometry.ach.lite04</key>
	<dict>
		<key>achievedDescription</key>
		<string>Jumped 15000 times</string>
		<key>googleID</key>
		<string>CgkIm5vi-_cMEAIQLg</string>
		<key>icon</key>
		<string>icon_12</string>
		<key>identifier</key>
		<string>geometry.ach.lite04</string>
		<key>order</key>
		<integer>30</integer>
		<key>title</key>
		<string>Geometry Jumper!</string>
		<key>unachievedDescription</key>
		<string>Jump 15000 times</string>
	</dict>
	<key>geometry.ach.lite05</key>
	<dict>
		<key>achievedDescription</key>
		<string>Completed 5 levels in Normal Mode</string>
		<key>googleID</key>
		<string>CgkIm5vi-_cMEAIQLg</string>
		<key>icon</key>
		<string>ship_03</string>
		<key>identifier</key>
		<string>geometry.ach.lite05</string>
		<key>order</key>
		<integer>31</integer>
		<key>title</key>
		<string>Jump, you must</string>
		<key>unachievedDescription</key>
		<string>Complete 5 levels in Normal Mode</string>
	</dict>
	<key>geometry.ach.mappacks01</key>
	<dict>
		<key>achievedDescription</key>
		<string>Completed a Map Pack</string>
		<key>googleID</key>
		<string>CgkIm5vi-_cMEAIQJQ</string>
		<key>icon</key>
		<string>icon_33</string>
		<key>identifier</key>
		<string>geometry.ach.mappacks01</string>
		<key>order</key>
		<real>16.1</real>
		<key>title</key>
		<string>Jump, Forrest, jump</string>
		<key>unachievedDescription</key>
		<string>Complete a Map Pack</string>
	</dict>
	<key>geometry.ach.mappacks02</key>
	<dict>
		<key>achievedDescription</key>
		<string>Completed 5 Map Packs</string>
		<key>googleID</key>
		<string>CgkIm5vi-_cMEAIQJQ</string>
		<key>icon</key>
		<string>ship_10</string>
		<key>identifier</key>
		<string>geometry.ach.mappacks02</string>
		<key>order</key>
		<real>16.2</real>
		<key>title</key>
		<string>Failure is not an option</string>
		<key>unachievedDescription</key>
		<string>Complete 5 Map Packs</string>
	</dict>
	<key>geometry.ach.moreGames</key>
	<dict>
		<key>achievedDescription</key>
		<string>Clicked on the Free Levels button :)</string>
		<key>googleID</key>
		<string>CgkIm5vi-_cMEAIQGw</string>
		<key>icon</key>
		<string>color2_04</string>
		<key>identifier</key>
		<string>geometry.ach.moreGames</string>
		<key>order</key>
		<integer>25</integer>
		<key>title</key>
		<string>I need more levels!</string>
		<key>unachievedDescription</key>
		<string>Tap the Free Levels button!</string>
	</dict>
	<key>geometry.ach.rate</key>
	<dict>
		<key>achievedDescription</key>
		<string>You are playing &quot;Geometry Dash&quot;, thanks!</string>
		<key>googleID</key>
		<string>CgkIm5vi-_cMEAIQEw</string>
		<key>icon</key>
		<string>icon_13</string>
		<key>identifier</key>
		<string>geometry.ach.rate</string>
		<key>order</key>
		<integer>17</integer>
		<key>title</key>
		<string>Supporter</string>
		<key>unachievedDescription</key>
		<string>Have fun :)</string>
	</dict>
	<key>geometry.ach.youtube</key>
	<dict>
		<key>achievedDescription</key>
		<string>Subscribed to RobTop Games on YouTube</string>
		<key>identifier</key>
		<string>geometry.ach.youtube</string>
		<key>order</key>
		<real>26</real>
		<key>title</key>
		<string>GeometryTube</string>
		<key>icon</key>
		<string>color2_20</string>
		<key>unachievedDescription</key>
		<string>Subscribe to RobTop Games on YouTube</string>
		<key>googleID</key>
		<string>CgkIm5vi-_cMEAIQdg</string>
	</dict>
	<key>geometry.ach.stars01</key>
	<dict>
		<key>achievedDescription</key>
		<string>Collected 100 stars</string>
		<key>googleID</key>
		<string>CgkIm5vi-_cMEAIQJQ</string>
		<key>icon</key>
		<string>icon_23</string>
		<key>identifier</key>
		<string>geometry.ach.stars01</string>
		<key>order</key>
		<real>14.94</real>
		<key>title</key>
		<string>Oh, Shiny!</string>
		<key>unachievedDescription</key>
		<string>Collect 100 stars</string>
	</dict>
	<key>geometry.ach.stars02</key>
	<dict>
		<key>achievedDescription</key>
		<string>Collected 200 stars</string>
		<key>googleID</key>
		<string>CgkIm5vi-_cMEAIQJg</string>
		<key>icon</key>
		<string>icon_24</string>
		<key>identifier</key>
		<string>geometry.ach.stars02</string>
		<key>order</key>
		<real>14.95</real>
		<key>title</key>
		<string>More stars!</string>
		<key>unachievedDescription</key>
		<string>Collect 200 stars</string>
	</dict>
	<key>geometry.ach.stars03</key>
	<dict>
		<key>achievedDescription</key>
		<string>Collected 300 stars</string>
		<key>googleID</key>
		<string>CgkIm5vi-_cMEAIQJw</string>
		<key>icon</key>
		<string>icon_25</string>
		<key>identifier</key>
		<string>geometry.ach.stars03</string>
		<key>order</key>
		<real>14.96</real>
		<key>title</key>
		<string>Star Maniac</string>
		<key>unachievedDescription</key>
		<string>Collect 300 stars</string>
	</dict>
	<key>geometry.ach.stars04</key>
	<dict>
		<key>achievedDescription</key>
		<string>Collected 400 stars</string>
		<key>googleID</key>
		<string>CgkIm5vi-_cMEAIQKA</string>
		<key>icon</key>
		<string>icon_26</string>
		<key>identifier</key>
		<string>geometry.ach.stars04</string>
		<key>order</key>
		<real>14.97</real>
		<key>title</key>
		<string>Master Collector</string>
		<key>unachievedDescription</key>
		<string>Collect 400 stars</string>
	</dict>
	<key>geometry.ach.stars05</key>
	<dict>
		<key>achievedDescription</key>
		<string>Collected 500 stars</string>
		<key>googleID</key>
		<string>CgkIm5vi-_cMEAIQKQ</string>
		<key>icon</key>
		<string>ball_02</string>
		<key>identifier</key>
		<string>geometry.ach.stars05</string>
		<key>order</key>
		<real>14.98</real>
		<key>title</key>
		<string>Epic Collector</string>
		<key>unachievedDescription</key>
		<string>Collect 500 stars</string>
	</dict>
	<key>geometry.ach.stars06</key>
	<dict>
		<key>achievedDescription</key>
		<string>Collected 600 stars</string>
		<key>googleID</key>
		<string>CgkIm5vi-_cMEAIQKg</string>
		<key>icon</key>
		<string>-</string>
		<key>identifier</key>
		<string>geometry.ach.stars06</string>
		<key>order</key>
		<real>14.981</real>
		<key>title</key>
		<string>Epic Master Collector</string>
		<key>unachievedDescription</key>
		<string>Collect 600 stars</string>
	</dict>
	<key>geometry.ach.stars07</key>
	<dict>
		<key>achievedDescription</key>
		<string>Collected 700 stars</string>
		<key>googleID</key>
		<string>CgkIm5vi-_cMEAIQMw</string>
		<key>icon</key>
		<string>ship_07</string>
		<key>identifier</key>
		<string>geometry.ach.stars07</string>
		<key>order</key>
		<real>14.982</real>
		<key>title</key>
		<string>Star Factory</string>
		<key>unachievedDescription</key>
		<string>Collect 700 stars</string>
	</dict>
	<key>geometry.ach.stars08</key>
	<dict>
		<key>achievedDescription</key>
		<string>Collected 800 stars</string>
		<key>googleID</key>
		<string>CgkIm5vi-_cMEAIQNA</string>
		<key>icon</key>
		<string>icon_28</string>
		<key>identifier</key>
		<string>geometry.ach.stars08</string>
		<key>order</key>
		<real>14.983</real>
		<key>title</key>
		<string>Starshine</string>
		<key>unachievedDescription</key>
		<string>Collect 800 stars</string>
	</dict>
	<key>geometry.ach.stars09</key>
	<dict>
		<key>achievedDescription</key>
		<string>Collected 900 stars</string>
		<key>googleID</key>
		<string>CgkIm5vi-_cMEAIQNQ</string>
		<key>icon</key>
		<string>icon_29</string>
		<key>identifier</key>
		<string>geometry.ach.stars09</string>
		<key>order</key>
		<real>14.984</real>
		<key>title</key>
		<string>All MINE!</string>
		<key>unachievedDescription</key>
		<string>Collect 900 stars</string>
	</dict>
	<key>geometry.ach.stars10</key>
	<dict>
		<key>achievedDescription</key>
		<string>Collected 1000 stars</string>
		<key>googleID</key>
		<string>CgkIm5vi-_cMEAIQNg</string>
		<key>icon</key>
		<string>icon_30</string>
		<key>identifier</key>
		<string>geometry.ach.stars10</string>
		<key>order</key>
		<real>14.985</real>
		<key>title</key>
		<string>MORE SHINY!!!</string>
		<key>unachievedDescription</key>
		<string>Collect 1000 stars</string>
	</dict>
	<key>geometry.ach.submit</key>
	<dict>
		<key>achievedDescription</key>
		<string>Created and submitted a custom level</string>
		<key>googleID</key>
		<string>CgkIm5vi-_cMEAIQHA</string>
		<key>icon</key>
		<string>color2_10</string>
		<key>identifier</key>
		<string>geometry.ach.submit</string>
		<key>order</key>
		<integer>24</integer>
		<key>title</key>
		<string>Creator</string>
		<key>unachievedDescription</key>
		<string>Create and submit a custom level</string>
	</dict>
	<key>geometry.ach.special01</key>
	<dict>
		<key>achievedDescription</key>
		<string>Crashed at over 95%</string>
		<key>identifier</key>
		<string>geometry.ach.special01</string>
		<key>order</key>
		<integer>27</integer>
		<key>title</key>
		<string>So close</string>
		<key>icon</key>
		<string>color2_18</string>
		<key>unachievedDescription</key>
		<string>Crash at over 95% on a main level in normal mode</string>
		<key>googleID</key>
		<string>CgkIm5vi-_cMEAIQLA</string>
	</dict>
	<key>geometry.ach.secret01</key>
	<dict>
		<key>achievedDescription</key>
		<string>Destroyed a player</string>
		<key>identifier</key>
		<string>geometry.ach.secret01</string>
		<key>order</key>
		<integer>28</integer>
		<key>title</key>
		<string>Rampage!</string>
		<key>icon</key>
		<string>color2_19</string>
		<key>unachievedDescription</key>
		<string>A secret is required</string>
		<key>googleID</key>
		<string>CgkIm5vi-_cMEAIQLA</string>
	</dict>
	<key>geometry.ach.secret02</key>
	<dict>
		<key>achievedDescription</key>
		<string>Destroyed 50 players</string>
		<key>identifier</key>
		<string>geometry.ach.secret02</string>
		<key>order</key>
		<integer>29</integer>
		<key>title</key>
		<string>Dominating!</string>
		<key>icon</key>
		<string>icon_41</string>
		<key>unachievedDescription</key>
		<string>A secret is required</string>
		<key>googleID</key>
		<string>CgkIm5vi-_cMEAIQLA</string>
	</dict>
	<key>geometry.ach.secret03</key>
	<dict>
		<key>achievedDescription</key>
		<string>Destroyed 200 players</string>
		<key>identifier</key>
		<string>geometry.ach.secret03</string>
		<key>order</key>
		<integer>30</integer>
		<key>title</key>
		<string>Godlike!</string>
		<key>icon</key>
		<string>icon_39</string>
		<key>unachievedDescription</key>
		<string>A secret is required</string>
		<key>googleID</key>
		<string>CgkIm5vi-_cMEAIQLA</string>
	</dict>
	<key>geometry.ach.secret04</key>
	<dict>
		<key>achievedDescription</key>
		<string>Found the hidden coin</string>
		<key>identifier</key>
		<string>geometry.ach.secret04</string>
		<key>order</key>
		<integer>31</integer>
		<key>title</key>
		<string>Master Detective</string>
		<key>icon</key>
		<string>color2_21</string>
		<key>unachievedDescription</key>
		<string>A hidden treasure is required</string>
		<key>googleID</key>
		<string>CgkIm5vi-_cMEAIQdw</string>
	</dict>
	<key>geometry.ach.secret11</key>
	<dict>
		<key>achievedDescription</key>
		<string>Found the secret</string>
		<key>identifier</key>
		<string>geometry.ach.secret11</string>
		<key>order</key>
		<integer>18000</integer>
		<key>title</key>
		<string>Catch them all!</string>
		<key>icon</key>
		<string>icon_55</string>
		<key>unachievedDescription</key>
		<string>A secret is required</string>
		<key>googleID</key>
		<string>CgkIm5vi-_cMEAIQswE</string>
	</dict>
	<key>geometry.ach.secret12</key>
	<dict>
		<key>achievedDescription</key>
		<string>Found the secret</string>
		<key>identifier</key>
		<string>geometry.ach.secret12</string>
		<key>order</key>
		<integer>18100</integer>
		<key>title</key>
		<string>Nice shot!</string>
		<key>icon</key>
		<string>icon_50</string>
		<key>unachievedDescription</key>
		<string>A secret is required</string>
		<key>googleID</key>
		<string>CgkIm5vi-_cMEAIQtAE</string>
	</dict>
</dict>
</plist>
