<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>colourPicker.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,1},{13,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{13,13}}</string>
                <key>sourceSize</key>
                <string>{13,13}</string>
            </dict>
            <key>colourPickerBackground.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,461},{110,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,110}}</string>
                <key>sourceSize</key>
                <string>{110,110}</string>
            </dict>
            <key>colourPickerOverlay.png</key>
            <dict>
                <key>frame</key>
                <string>{{85,319},{110,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,110}}</string>
                <key>sourceSize</key>
                <string>{110,110}</string>
            </dict>
            <key>colourPickerShadow.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,430},{110,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,110}}</string>
                <key>sourceSize</key>
                <string>{110,110}</string>
            </dict>
            <key>hueBar.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,168},{20,292}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,292}}</string>
                <key>sourceSize</key>
                <string>{20,292}</string>
            </dict>
            <key>huePickerBackground.png</key>
            <dict>
                <key>frame</key>
                <string>{{85,168},{150,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,150}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>lightnessBar.png</key>
            <dict>
                <key>frame</key>
                <string>{{22,168},{20,292}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,292}}</string>
                <key>sourceSize</key>
                <string>{20,292}</string>
            </dict>
            <key>menuCircleWhite.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,541},{30,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,30}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>menuColourPanelBackground.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{174,166}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{174,166}}</string>
                <key>sourceSize</key>
                <string>{180,166}</string>
            </dict>
            <key>saturationBarBottom.png</key>
            <dict>
                <key>frame</key>
                <string>{{43,168},{20,292}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,292}}</string>
                <key>sourceSize</key>
                <string>{20,292}</string>
            </dict>
            <key>saturationBarTop.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,168},{20,292}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,292}}</string>
                <key>sourceSize</key>
                <string>{20,292}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>CCControlColourPickerSpriteSheet.png</string>
            <key>size</key>
            <string>{236,572}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:daa2656ba65391e1afccbc64ef4ed72f:d071bcbdaa932f2d637c8cec8d9f7fa2:0dfe3216bd36d3c9fec1891e9c7a586f$</string>
            <key>textureFileName</key>
            <string>CCControlColourPickerSpriteSheet.png</string>
        </dict>
    </dict>
</plist>
