<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dungeonShine_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{226,254}</string>
                <key>spriteSourceSize</key>
                <string>{230,258}</string>
                <key>textureRect</key>
                <string>{{656,1},{226,254}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dungeon_gate_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,35}</string>
                <key>spriteSize</key>
                <string>{652,570}</string>
                <key>spriteSourceSize</key>
                <string>{684,640}</string>
                <key>textureRect</key>
                <string>{{1,1},{652,570}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>DungeonSheet-hd.png</string>
            <key>size</key>
            <string>{883,572}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6506a477a5fe94c2174016c8494c17bd:363eaa01fbe330733ec1026b1e232543:39c8688f9d1d3bc4272b59a83a444a6e$</string>
            <key>textureFileName</key>
            <string>DungeonSheet-hd.png</string>
        </dict>
    </dict>
</plist>
