<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>GJ_challengeBtn_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{10,-10}</string>
                <key>spriteSize</key>
                <string>{398,398}</string>
                <key>spriteSourceSize</key>
                <string>{418,418}</string>
                <key>textureRect</key>
                <string>{{1,431},{398,398}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GJ_createBtn_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{10,-10}</string>
                <key>spriteSize</key>
                <string>{398,398}</string>
                <key>spriteSourceSize</key>
                <string>{418,418}</string>
                <key>textureRect</key>
                <string>{{805,82},{398,398}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GJ_dailyBtn_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{10,-10}</string>
                <key>spriteSize</key>
                <string>{398,398}</string>
                <key>spriteSourceSize</key>
                <string>{418,418}</string>
                <key>textureRect</key>
                <string>{{1204,82},{398,398}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GJ_fameBtn_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{10,-10}</string>
                <key>spriteSize</key>
                <string>{398,398}</string>
                <key>spriteSourceSize</key>
                <string>{418,418}</string>
                <key>textureRect</key>
                <string>{{400,431},{398,398}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GJ_featuredBtn_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{10,-10}</string>
                <key>spriteSize</key>
                <string>{398,398}</string>
                <key>spriteSourceSize</key>
                <string>{418,418}</string>
                <key>textureRect</key>
                <string>{{799,481},{398,398}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GJ_gauntletsBtn_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{10,-10}</string>
                <key>spriteSize</key>
                <string>{398,398}</string>
                <key>spriteSourceSize</key>
                <string>{418,418}</string>
                <key>textureRect</key>
                <string>{{1198,481},{398,398}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GJ_highscoreBtn_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{10,-10}</string>
                <key>spriteSize</key>
                <string>{398,398}</string>
                <key>spriteSourceSize</key>
                <string>{418,418}</string>
                <key>textureRect</key>
                <string>{{1603,82},{398,398}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GJ_mapPacksBtn_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{10,-10}</string>
                <key>spriteSize</key>
                <string>{398,398}</string>
                <key>spriteSourceSize</key>
                <string>{418,418}</string>
                <key>textureRect</key>
                <string>{{1597,481},{398,398}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GJ_savedBtn_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{10,-10}</string>
                <key>spriteSize</key>
                <string>{398,398}</string>
                <key>spriteSourceSize</key>
                <string>{418,418}</string>
                <key>textureRect</key>
                <string>{{2002,76},{398,398}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GJ_searchBtn_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{10,-10}</string>
                <key>spriteSize</key>
                <string>{398,398}</string>
                <key>spriteSourceSize</key>
                <string>{418,418}</string>
                <key>textureRect</key>
                <string>{{2401,74},{398,398}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GJ_watchReplay_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,-5}</string>
                <key>spriteSize</key>
                <string>{522,354}</string>
                <key>spriteSourceSize</key>
                <string>{532,364}</string>
                <key>textureRect</key>
                <string>{{1,76},{522,354}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GJ_weeklyBtn_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{10,-10}</string>
                <key>spriteSize</key>
                <string>{397,398}</string>
                <key>spriteSourceSize</key>
                <string>{417,418}</string>
                <key>textureRect</key>
                <string>{{2800,72},{397,398}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>boost_01_shine_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,164}</string>
                <key>spriteSourceSize</key>
                <string>{128,164}</string>
                <key>textureRect</key>
                <string>{{3190,583},{128,164}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>boost_02_shine_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{122,216}</string>
                <key>spriteSourceSize</key>
                <string>{122,216}</string>
                <key>textureRect</key>
                <string>{{1667,880},{122,216}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>boost_03_shine_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{192,216}</string>
                <key>spriteSourceSize</key>
                <string>{192,216}</string>
                <key>textureRect</key>
                <string>{{1,830},{192,216}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>boost_04_shine_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{250,216}</string>
                <key>spriteSourceSize</key>
                <string>{250,216}</string>
                <key>textureRect</key>
                <string>{{3198,332},{250,216}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>boost_05_shine_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{254,206}</string>
                <key>spriteSourceSize</key>
                <string>{256,206}</string>
                <key>textureRect</key>
                <string>{{2766,473},{254,206}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>playerDash2_boom2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,3}</string>
                <key>spriteSize</key>
                <string>{176,174}</string>
                <key>spriteSourceSize</key>
                <string>{282,288}</string>
                <key>textureRect</key>
                <string>{{571,830},{176,174}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playerDash2_boom2_002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,8}</string>
                <key>spriteSize</key>
                <string>{234,216}</string>
                <key>spriteSourceSize</key>
                <string>{282,288}</string>
                <key>textureRect</key>
                <string>{{2973,471},{234,216}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>playerDash2_boom2_003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,11}</string>
                <key>spriteSize</key>
                <string>{246,242}</string>
                <key>spriteSourceSize</key>
                <string>{282,288}</string>
                <key>textureRect</key>
                <string>{{3009,712},{246,242}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playerDash2_boom2_004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,8}</string>
                <key>spriteSize</key>
                <string>{252,252}</string>
                <key>spriteSourceSize</key>
                <string>{282,288}</string>
                <key>textureRect</key>
                <string>{{2756,742},{252,252}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playerDash2_boom2_005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,8}</string>
                <key>spriteSize</key>
                <string>{258,256}</string>
                <key>spriteSourceSize</key>
                <string>{282,288}</string>
                <key>textureRect</key>
                <string>{{2497,742},{258,256}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playerDash2_boom2_006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,7}</string>
                <key>spriteSize</key>
                <string>{268,268}</string>
                <key>spriteSourceSize</key>
                <string>{282,288}</string>
                <key>textureRect</key>
                <string>{{2497,473},{268,268}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playerDash2_boom2_007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,7}</string>
                <key>spriteSize</key>
                <string>{276,272}</string>
                <key>spriteSourceSize</key>
                <string>{282,288}</string>
                <key>textureRect</key>
                <string>{{2095,475},{276,272}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playerDash2_boom2_008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,7}</string>
                <key>spriteSize</key>
                <string>{280,272}</string>
                <key>spriteSourceSize</key>
                <string>{282,288}</string>
                <key>textureRect</key>
                <string>{{524,76},{280,272}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playerDash2_boom2_009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,7}</string>
                <key>spriteSize</key>
                <string>{276,270}</string>
                <key>spriteSourceSize</key>
                <string>{282,288}</string>
                <key>textureRect</key>
                <string>{{2095,748},{276,270}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>portal_01_shine_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-21,0}</string>
                <key>spriteSize</key>
                <string>{106,286}</string>
                <key>spriteSourceSize</key>
                <string>{148,286}</string>
                <key>textureRect</key>
                <string>{{1093,880},{106,286}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>portal_02_shine_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-21,0}</string>
                <key>spriteSize</key>
                <string>{106,286}</string>
                <key>spriteSourceSize</key>
                <string>{148,286}</string>
                <key>textureRect</key>
                <string>{{1380,880},{106,286}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>portal_03_shine_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,0}</string>
                <key>spriteSize</key>
                <string>{158,330}</string>
                <key>spriteSourceSize</key>
                <string>{170,330}</string>
                <key>textureRect</key>
                <string>{{3198,1},{158,330}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>portal_04_shine_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,0}</string>
                <key>spriteSize</key>
                <string>{158,330}</string>
                <key>spriteSourceSize</key>
                <string>{170,330}</string>
                <key>textureRect</key>
                <string>{{3198,1},{158,330}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>portal_05_shine_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,-1}</string>
                <key>spriteSize</key>
                <string>{188,352}</string>
                <key>spriteSourceSize</key>
                <string>{196,354}</string>
                <key>textureRect</key>
                <string>{{218,830},{188,352}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>portal_06_shine_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,-1}</string>
                <key>spriteSize</key>
                <string>{188,352}</string>
                <key>spriteSourceSize</key>
                <string>{196,354}</string>
                <key>textureRect</key>
                <string>{{218,830},{188,352}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>portal_07_shine_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,0}</string>
                <key>spriteSize</key>
                <string>{158,330}</string>
                <key>spriteSourceSize</key>
                <string>{170,330}</string>
                <key>textureRect</key>
                <string>{{3198,1},{158,330}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>portal_08_shine_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-19,0}</string>
                <key>spriteSize</key>
                <string>{140,344}</string>
                <key>spriteSourceSize</key>
                <string>{178,344}</string>
                <key>textureRect</key>
                <string>{{748,880},{140,344}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>portal_09_shine_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-19,0}</string>
                <key>spriteSize</key>
                <string>{140,344}</string>
                <key>spriteSourceSize</key>
                <string>{178,344}</string>
                <key>textureRect</key>
                <string>{{748,880},{140,344}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>portal_10_shine_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,0}</string>
                <key>spriteSize</key>
                <string>{158,330}</string>
                <key>spriteSourceSize</key>
                <string>{170,330}</string>
                <key>textureRect</key>
                <string>{{3198,1},{158,330}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>portal_11_shine_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,348}</string>
                <key>spriteSourceSize</key>
                <string>{124,348}</string>
                <key>textureRect</key>
                <string>{{2372,475},{124,348}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>portal_12_shine_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,348}</string>
                <key>spriteSourceSize</key>
                <string>{124,348}</string>
                <key>textureRect</key>
                <string>{{2372,475},{124,348}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>portal_13_shine_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,0}</string>
                <key>spriteSize</key>
                <string>{158,330}</string>
                <key>spriteSourceSize</key>
                <string>{170,330}</string>
                <key>textureRect</key>
                <string>{{3198,1},{158,330}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>portal_14_shine_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,0}</string>
                <key>spriteSize</key>
                <string>{158,330}</string>
                <key>spriteSourceSize</key>
                <string>{170,330}</string>
                <key>textureRect</key>
                <string>{{3198,1},{158,330}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>portal_15_shine_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-32,0}</string>
                <key>spriteSize</key>
                <string>{98,352}</string>
                <key>spriteSourceSize</key>
                <string>{162,352}</string>
                <key>textureRect</key>
                <string>{{1996,481},{98,352}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>portal_16_shine_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-32,0}</string>
                <key>spriteSize</key>
                <string>{98,352}</string>
                <key>spriteSourceSize</key>
                <string>{162,352}</string>
                <key>textureRect</key>
                <string>{{1996,481},{98,352}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>portal_17_shine_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-32,0}</string>
                <key>spriteSize</key>
                <string>{98,352}</string>
                <key>spriteSourceSize</key>
                <string>{162,352}</string>
                <key>textureRect</key>
                <string>{{1996,481},{98,352}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spiderDash_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{12,1}</string>
                <key>spriteSize</key>
                <string>{848,74}</string>
                <key>spriteSourceSize</key>
                <string>{884,84}</string>
                <key>textureRect</key>
                <string>{{1,1},{848,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spiderDash_002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-15,1}</string>
                <key>spriteSize</key>
                <string>{788,80}</string>
                <key>spriteSourceSize</key>
                <string>{884,84}</string>
                <key>textureRect</key>
                <string>{{850,1},{788,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spiderDash_003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-121,2}</string>
                <key>spriteSize</key>
                <string>{600,74}</string>
                <key>spriteSourceSize</key>
                <string>{884,84}</string>
                <key>textureRect</key>
                <string>{{1639,1},{600,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spiderDash_004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-187,3}</string>
                <key>spriteSize</key>
                <string>{476,72}</string>
                <key>spriteSourceSize</key>
                <string>{884,84}</string>
                <key>textureRect</key>
                <string>{{2240,1},{476,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spiderDash_005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-218,3}</string>
                <key>spriteSize</key>
                <string>{418,70}</string>
                <key>spriteSourceSize</key>
                <string>{884,84}</string>
                <key>textureRect</key>
                <string>{{2717,1},{418,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spiderDash_006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-286,5}</string>
                <key>spriteSize</key>
                <string>{282,68}</string>
                <key>spriteSourceSize</key>
                <string>{884,84}</string>
                <key>textureRect</key>
                <string>{{3357,1},{282,68}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>spiderDash_007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-315,4}</string>
                <key>spriteSize</key>
                <string>{232,68}</string>
                <key>spriteSourceSize</key>
                <string>{884,84}</string>
                <key>textureRect</key>
                <string>{{524,349},{232,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spiderDash_008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-392,7}</string>
                <key>spriteSize</key>
                <string>{86,60}</string>
                <key>spriteSourceSize</key>
                <string>{884,84}</string>
                <key>textureRect</key>
                <string>{{2372,824},{86,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>GJ_GameSheet04-uhd.png</string>
            <key>size</key>
            <string>{3426,1023}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4113e3ba7e7a633879f97e0de24066d6:422a7e82e23717e027bb9d756f3f375d:5fdacc71eaa486da2fe4e7f13bf34371$</string>
            <key>textureFileName</key>
            <string>GJ_GameSheet04-uhd.png</string>
        </dict>
    </dict>
</plist>
