<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>GJ_lite_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,31}</string>
                <key>spriteSourceSize</key>
                <string>{90,31}</string>
                <key>textureRect</key>
                <string>{{1,1},{90,31}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>GJ_logo_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-1}</string>
                <key>spriteSize</key>
                <string>{428,51}</string>
                <key>spriteSourceSize</key>
                <string>{430,53}</string>
                <key>textureRect</key>
                <string>{{34,1},{428,51}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GJ_md_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-1}</string>
                <key>spriteSize</key>
                <string>{186,37}</string>
                <key>spriteSourceSize</key>
                <string>{188,39}</string>
                <key>textureRect</key>
                <string>{{321,54},{186,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>RobTopLogoBig_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-2}</string>
                <key>spriteSize</key>
                <string>{148,55}</string>
                <key>spriteSourceSize</key>
                <string>{150,61}</string>
                <key>textureRect</key>
                <string>{{34,54},{148,55}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gj_worldLogo_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-1}</string>
                <key>spriteSize</key>
                <string>{135,41}</string>
                <key>spriteSourceSize</key>
                <string>{137,43}</string>
                <key>textureRect</key>
                <string>{{184,54},{135,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>GJ_LaunchSheet.png</string>
            <key>size</key>
            <string>{508,110}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9d5a0963f12a57a05e8c53fba0c64f61:439e83915d19735f4384dfc8c61b3047:155d22e7fafe88a218a4f358cdc9d221$</string>
            <key>textureFileName</key>
            <string>GJ_LaunchSheet.png</string>
        </dict>
    </dict>
</plist>
