
<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>usedTextures</key>
  <dict>
    <key>texture_0</key>
    <dict>
      <key>texture</key>
      <string>0</string>
      <key>tag</key>
      <string>0</string>
    </dict>
    <key>texture_1</key>
    <dict>
      <key>texture</key>
      <string>GJBeast03_01_001.png</string>
      <key>tag</key>
      <string>1</string>
    </dict>
  </dict>
  <key>animationContainer</key>
  <dict>
    <key>GJBeast03_idle01_001.png</key>
    <dict>
      <key>sprite_0</key>
      <dict>
        <key>texture</key>
        <string>GJBeast03_01_001.png</string>
        <key>tag</key>
        <string>1</string>
        <key>usesCustomTag</key>
        <string>0</string>
        <key>position</key>
        <string>{0, 0}</string>
        <key>scale</key>
        <string>{1.00000, 1.00000}</string>
        <key>rotation</key>
        <string>0</string>
        <key>flipped</key>
        <string>{0, 0}</string>
        <key>zValue</key>
        <string>0</string>
      </dict>
      <key>sprite_1</key>
      <dict>
        <key>texture</key>
        <string>GJBeast03_02_001.png</string>
        <key>tag</key>
        <string>0</string>
        <key>usesCustomTag</key>
        <string>1</string>
        <key>position</key>
        <string>{0.025, 0.5}</string>
        <key>scale</key>
        <string>{1.00000, 1.00000}</string>
        <key>rotation</key>
        <string>0</string>
        <key>flipped</key>
        <string>{0, 0}</string>
        <key>zValue</key>
        <string>1</string>
      </dict>
    </dict>
    <key>GJBeast03_idle01_002.png</key>
    <dict>
      <key>sprite_0</key>
      <dict>
        <key>texture</key>
        <string>GJBeast03_01_001.png</string>
        <key>tag</key>
        <string>1</string>
        <key>usesCustomTag</key>
        <string>0</string>
        <key>position</key>
        <string>{0, -0.15}</string>
        <key>scale</key>
        <string>{1.00604, 0.99207}</string>
        <key>rotation</key>
        <string>0</string>
        <key>flipped</key>
        <string>{0, 0}</string>
        <key>zValue</key>
        <string>0</string>
      </dict>
      <key>sprite_1</key>
      <dict>
        <key>texture</key>
        <string>GJBeast03_02_001.png</string>
        <key>tag</key>
        <string>0</string>
        <key>usesCustomTag</key>
        <string>1</string>
        <key>position</key>
        <string>{0.025, 0.3}</string>
        <key>scale</key>
        <string>{1.00188, 0.98357}</string>
        <key>rotation</key>
        <string>0</string>
        <key>flipped</key>
        <string>{0, 0}</string>
        <key>zValue</key>
        <string>1</string>
      </dict>
    </dict>
    <key>GJBeast03_idle01_003.png</key>
    <dict>
      <key>sprite_0</key>
      <dict>
        <key>texture</key>
        <string>GJBeast03_01_001.png</string>
        <key>tag</key>
        <string>1</string>
        <key>usesCustomTag</key>
        <string>0</string>
        <key>position</key>
        <string>{0, -0.525}</string>
        <key>scale</key>
        <string>{1.02249, 0.97044}</string>
        <key>rotation</key>
        <string>0</string>
        <key>flipped</key>
        <string>{0, 0}</string>
        <key>zValue</key>
        <string>0</string>
      </dict>
      <key>sprite_1</key>
      <dict>
        <key>texture</key>
        <string>GJBeast03_02_001.png</string>
        <key>tag</key>
        <string>0</string>
        <key>usesCustomTag</key>
        <string>1</string>
        <key>position</key>
        <string>{0.025, -0.225}</string>
        <key>scale</key>
        <string>{1.00699, 0.93883}</string>
        <key>rotation</key>
        <string>0</string>
        <key>flipped</key>
        <string>{0, 0}</string>
        <key>zValue</key>
        <string>1</string>
      </dict>
    </dict>
    <key>GJBeast03_idle01_004.png</key>
    <dict>
      <key>sprite_0</key>
      <dict>
        <key>texture</key>
        <string>GJBeast03_01_001.png</string>
        <key>tag</key>
        <string>1</string>
        <key>usesCustomTag</key>
        <string>0</string>
        <key>position</key>
        <string>{0, -0.95}</string>
        <key>scale</key>
        <string>{1.04126, 0.94577}</string>
        <key>rotation</key>
        <string>0</string>
        <key>flipped</key>
        <string>{0, 0}</string>
        <key>zValue</key>
        <string>0</string>
      </dict>
      <key>sprite_1</key>
      <dict>
        <key>texture</key>
        <string>GJBeast03_02_001.png</string>
        <key>tag</key>
        <string>0</string>
        <key>usesCustomTag</key>
        <string>1</string>
        <key>position</key>
        <string>{0, -0.85}</string>
        <key>scale</key>
        <string>{1.01282, 0.88774}</string>
        <key>rotation</key>
        <string>0</string>
        <key>flipped</key>
        <string>{0, 0}</string>
        <key>zValue</key>
        <string>1</string>
      </dict>
    </dict>
    <key>GJBeast03_idle01_005.png</key>
    <dict>
      <key>sprite_0</key>
      <dict>
        <key>texture</key>
        <string>GJBeast03_01_001.png</string>
        <key>tag</key>
        <string>1</string>
        <key>usesCustomTag</key>
        <string>0</string>
        <key>position</key>
        <string>{0, -1.175}</string>
        <key>scale</key>
        <string>{1.04967, 0.93472}</string>
        <key>rotation</key>
        <string>0</string>
        <key>flipped</key>
        <string>{0, 0}</string>
        <key>zValue</key>
        <string>0</string>
      </dict>
      <key>sprite_1</key>
      <dict>
        <key>texture</key>
        <string>GJBeast03_02_001.png</string>
        <key>tag</key>
        <string>0</string>
        <key>usesCustomTag</key>
        <string>1</string>
        <key>position</key>
        <string>{0, -1.125}</string>
        <key>scale</key>
        <string>{1.01543, 0.86487}</string>
        <key>rotation</key>
        <string>0</string>
        <key>flipped</key>
        <string>{0, 0}</string>
        <key>zValue</key>
        <string>1</string>
      </dict>
    </dict>
    <key>GJBeast03_idle01_006.png</key>
    <dict>
      <key>sprite_0</key>
      <dict>
        <key>texture</key>
        <string>GJBeast03_01_001.png</string>
        <key>tag</key>
        <string>1</string>
        <key>usesCustomTag</key>
        <string>0</string>
        <key>position</key>
        <string>{0, -1.075}</string>
        <key>scale</key>
        <string>{1.04579, 0.93983}</string>
        <key>rotation</key>
        <string>0</string>
        <key>flipped</key>
        <string>{0, 0}</string>
        <key>zValue</key>
        <string>0</string>
      </dict>
      <key>sprite_1</key>
      <dict>
        <key>texture</key>
        <string>GJBeast03_02_001.png</string>
        <key>tag</key>
        <string>0</string>
        <key>usesCustomTag</key>
        <string>1</string>
        <key>position</key>
        <string>{0, -1}</string>
        <key>scale</key>
        <string>{1.01407, 0.87674}</string>
        <key>rotation</key>
        <string>0</string>
        <key>flipped</key>
        <string>{0, 0}</string>
        <key>zValue</key>
        <string>1</string>
      </dict>
    </dict>
    <key>GJBeast03_idle01_007.png</key>
    <dict>
      <key>sprite_0</key>
      <dict>
        <key>texture</key>
        <string>GJBeast03_01_001.png</string>
        <key>tag</key>
        <string>1</string>
        <key>usesCustomTag</key>
        <string>0</string>
        <key>position</key>
        <string>{0, -0.825}</string>
        <key>scale</key>
        <string>{1.03465, 0.95444}</string>
        <key>rotation</key>
        <string>0</string>
        <key>flipped</key>
        <string>{0, 0}</string>
        <key>zValue</key>
        <string>0</string>
      </dict>
      <key>sprite_1</key>
      <dict>
        <key>texture</key>
        <string>GJBeast03_02_001.png</string>
        <key>tag</key>
        <string>0</string>
        <key>usesCustomTag</key>
        <string>1</string>
        <key>position</key>
        <string>{0, -0.625}</string>
        <key>scale</key>
        <string>{1.01019, 0.91078}</string>
        <key>rotation</key>
        <string>0</string>
        <key>flipped</key>
        <string>{0, 0}</string>
        <key>zValue</key>
        <string>1</string>
      </dict>
    </dict>
    <key>GJBeast03_idle01_008.png</key>
    <dict>
      <key>sprite_0</key>
      <dict>
        <key>texture</key>
        <string>GJBeast03_01_001.png</string>
        <key>tag</key>
        <string>1</string>
        <key>usesCustomTag</key>
        <string>0</string>
        <key>position</key>
        <string>{0, -0.475}</string>
        <key>scale</key>
        <string>{1.01924, 0.97470}</string>
        <key>rotation</key>
        <string>0</string>
        <key>flipped</key>
        <string>{0, 0}</string>
        <key>zValue</key>
        <string>0</string>
      </dict>
      <key>sprite_1</key>
      <dict>
        <key>texture</key>
        <string>GJBeast03_02_001.png</string>
        <key>tag</key>
        <string>0</string>
        <key>usesCustomTag</key>
        <string>1</string>
        <key>position</key>
        <string>{0.025, -0.125}</string>
        <key>scale</key>
        <string>{1.00478, 0.95801}</string>
        <key>rotation</key>
        <string>0</string>
        <key>flipped</key>
        <string>{0, 0}</string>
        <key>zValue</key>
        <string>1</string>
      </dict>
    </dict>
    <key>GJBeast03_idle01_009.png</key>
    <dict>
      <key>sprite_0</key>
      <dict>
        <key>texture</key>
        <string>GJBeast03_01_001.png</string>
        <key>tag</key>
        <string>1</string>
        <key>usesCustomTag</key>
        <string>0</string>
        <key>position</key>
        <string>{0, -0.15}</string>
        <key>scale</key>
        <string>{1.00552, 0.99274}</string>
        <key>rotation</key>
        <string>0</string>
        <key>flipped</key>
        <string>{0, 0}</string>
        <key>zValue</key>
        <string>0</string>
      </dict>
      <key>sprite_1</key>
      <dict>
        <key>texture</key>
        <string>GJBeast03_02_001.png</string>
        <key>tag</key>
        <string>0</string>
        <key>usesCustomTag</key>
        <string>1</string>
        <key>position</key>
        <string>{0.025, 0.325}</string>
        <key>scale</key>
        <string>{1.00000, 1.00000}</string>
        <key>rotation</key>
        <string>0</string>
        <key>flipped</key>
        <string>{0, 0}</string>
        <key>zValue</key>
        <string>1</string>
      </dict>
    </dict>
    <key>GJBeast03_idle02_001.png</key>
    <dict>
      <key>sprite_0</key>
      <dict>
        <key>texture</key>
        <string>GJBeast03_01_001.png</string>
        <key>tag</key>
        <string>1</string>
        <key>usesCustomTag</key>
        <string>0</string>
        <key>position</key>
        <string>{0, 0}</string>
        <key>scale</key>
        <string>{1.00000, 1.00000}</string>
        <key>rotation</key>
        <string>0</string>
        <key>flipped</key>
        <string>{0, 0}</string>
        <key>zValue</key>
        <string>0</string>
      </dict>
      <key>sprite_1</key>
      <dict>
        <key>texture</key>
        <string>GJBeast03_02_001.png</string>
        <key>tag</key>
        <string>0</string>
        <key>usesCustomTag</key>
        <string>1</string>
        <key>position</key>
        <string>{0.025, 0.5}</string>
        <key>scale</key>
        <string>{1.00000, 1.00000}</string>
        <key>rotation</key>
        <string>0</string>
        <key>flipped</key>
        <string>{0, 0}</string>
        <key>zValue</key>
        <string>1</string>
      </dict>
    </dict>
    <key>GJBeast03_idle02_002.png</key>
    <dict>
      <key>sprite_0</key>
      <dict>
        <key>texture</key>
        <string>GJBeast03_01_001.png</string>
        <key>tag</key>
        <string>1</string>
        <key>usesCustomTag</key>
        <string>0</string>
        <key>position</key>
        <string>{0, -0.15}</string>
        <key>scale</key>
        <string>{1.00604, 0.99207}</string>
        <key>rotation</key>
        <string>0</string>
        <key>flipped</key>
        <string>{0, 0}</string>
        <key>zValue</key>
        <string>0</string>
      </dict>
      <key>sprite_1</key>
      <dict>
        <key>texture</key>
        <string>GJBeast03_02_001.png</string>
        <key>tag</key>
        <string>0</string>
        <key>usesCustomTag</key>
        <string>1</string>
        <key>position</key>
        <string>{0, 0.325}</string>
        <key>scale</key>
        <string>{1.00241, 0.88286}</string>
        <key>rotation</key>
        <string>0</string>
        <key>flipped</key>
        <string>{0, 0}</string>
        <key>zValue</key>
        <string>1</string>
      </dict>
    </dict>
    <key>GJBeast03_idle02_003.png</key>
    <dict>
      <key>sprite_0</key>
      <dict>
        <key>texture</key>
        <string>GJBeast03_01_001.png</string>
        <key>tag</key>
        <string>1</string>
        <key>usesCustomTag</key>
        <string>0</string>
        <key>position</key>
        <string>{0, -0.525}</string>
        <key>scale</key>
        <string>{1.02249, 0.97044}</string>
        <key>rotation</key>
        <string>0</string>
        <key>flipped</key>
        <string>{0, 0}</string>
        <key>zValue</key>
        <string>0</string>
      </dict>
      <key>sprite_1</key>
      <dict>
        <key>texture</key>
        <string>GJBeast03_02_001.png</string>
        <key>tag</key>
        <string>0</string>
        <key>usesCustomTag</key>
        <string>1</string>
        <key>position</key>
        <string>{-0.025, -0.225}</string>
        <key>scale</key>
        <string>{1.00932, 0.54720}</string>
        <key>rotation</key>
        <string>0</string>
        <key>flipped</key>
        <string>{0, 0}</string>
        <key>zValue</key>
        <string>1</string>
      </dict>
    </dict>
    <key>GJBeast03_idle02_004.png</key>
    <dict>
      <key>sprite_0</key>
      <dict>
        <key>texture</key>
        <string>GJBeast03_01_001.png</string>
        <key>tag</key>
        <string>1</string>
        <key>usesCustomTag</key>
        <string>0</string>
        <key>position</key>
        <string>{0, -0.95}</string>
        <key>scale</key>
        <string>{1.04126, 0.94577}</string>
        <key>rotation</key>
        <string>0</string>
        <key>flipped</key>
        <string>{0, 0}</string>
        <key>zValue</key>
        <string>0</string>
      </dict>
      <key>sprite_1</key>
      <dict>
        <key>texture</key>
        <string>GJBeast03_02_001.png</string>
        <key>tag</key>
        <string>0</string>
        <key>usesCustomTag</key>
        <string>1</string>
        <key>position</key>
        <string>{-0.075, -0.95}</string>
        <key>scale</key>
        <string>{1.01891, 0.08133}</string>
        <key>rotation</key>
        <string>0</string>
        <key>flipped</key>
        <string>{0, 0}</string>
        <key>zValue</key>
        <string>1</string>
      </dict>
    </dict>
    <key>GJBeast03_idle02_005.png</key>
    <dict>
      <key>sprite_0</key>
      <dict>
        <key>texture</key>
        <string>GJBeast03_01_001.png</string>
        <key>tag</key>
        <string>1</string>
        <key>usesCustomTag</key>
        <string>0</string>
        <key>position</key>
        <string>{0, -1.175}</string>
        <key>scale</key>
        <string>{1.04967, 0.93472}</string>
        <key>rotation</key>
        <string>0</string>
        <key>flipped</key>
        <string>{0, 0}</string>
        <key>zValue</key>
        <string>0</string>
      </dict>
    </dict>
    <key>GJBeast03_idle02_006.png</key>
    <dict>
      <key>sprite_0</key>
      <dict>
        <key>texture</key>
        <string>GJBeast03_01_001.png</string>
        <key>tag</key>
        <string>1</string>
        <key>usesCustomTag</key>
        <string>0</string>
        <key>position</key>
        <string>{0, -1.075}</string>
        <key>scale</key>
        <string>{1.04579, 0.93983}</string>
        <key>rotation</key>
        <string>0</string>
        <key>flipped</key>
        <string>{0, 0}</string>
        <key>zValue</key>
        <string>0</string>
      </dict>
      <key>sprite_1</key>
      <dict>
        <key>texture</key>
        <string>GJBeast03_02_001.png</string>
        <key>tag</key>
        <string>0</string>
        <key>usesCustomTag</key>
        <string>1</string>
        <key>position</key>
        <string>{-0.075, -0.95}</string>
        <key>scale</key>
        <string>{1.01891, 0.21819}</string>
        <key>rotation</key>
        <string>0</string>
        <key>flipped</key>
        <string>{0, 0}</string>
        <key>zValue</key>
        <string>1</string>
      </dict>
    </dict>
    <key>GJBeast03_idle02_007.png</key>
    <dict>
      <key>sprite_0</key>
      <dict>
        <key>texture</key>
        <string>GJBeast03_01_001.png</string>
        <key>tag</key>
        <string>1</string>
        <key>usesCustomTag</key>
        <string>0</string>
        <key>position</key>
        <string>{0, -0.825}</string>
        <key>scale</key>
        <string>{1.03465, 0.95444}</string>
        <key>rotation</key>
        <string>0</string>
        <key>flipped</key>
        <string>{0, 0}</string>
        <key>zValue</key>
        <string>0</string>
      </dict>
      <key>sprite_1</key>
      <dict>
        <key>texture</key>
        <string>GJBeast03_02_001.png</string>
        <key>tag</key>
        <string>0</string>
        <key>usesCustomTag</key>
        <string>1</string>
        <key>position</key>
        <string>{-0.05, -0.75}</string>
        <key>scale</key>
        <string>{1.01598, 0.33965}</string>
        <key>rotation</key>
        <string>0</string>
        <key>flipped</key>
        <string>{0, 0}</string>
        <key>zValue</key>
        <string>1</string>
      </dict>
    </dict>
    <key>GJBeast03_idle02_008.png</key>
    <dict>
      <key>sprite_0</key>
      <dict>
        <key>texture</key>
        <string>GJBeast03_01_001.png</string>
        <key>tag</key>
        <string>1</string>
        <key>usesCustomTag</key>
        <string>0</string>
        <key>position</key>
        <string>{0, -0.475}</string>
        <key>scale</key>
        <string>{1.01924, 0.97470}</string>
        <key>rotation</key>
        <string>0</string>
        <key>flipped</key>
        <string>{0, 0}</string>
        <key>zValue</key>
        <string>0</string>
      </dict>
      <key>sprite_1</key>
      <dict>
        <key>texture</key>
        <string>GJBeast03_02_001.png</string>
        <key>tag</key>
        <string>0</string>
        <key>usesCustomTag</key>
        <string>1</string>
        <key>position</key>
        <string>{-0.025, -0.225}</string>
        <key>scale</key>
        <string>{1.00815, 0.66316}</string>
        <key>rotation</key>
        <string>0</string>
        <key>flipped</key>
        <string>{0, 0}</string>
        <key>zValue</key>
        <string>1</string>
      </dict>
    </dict>
    <key>GJBeast03_idle02_009.png</key>
    <dict>
      <key>sprite_0</key>
      <dict>
        <key>texture</key>
        <string>GJBeast03_01_001.png</string>
        <key>tag</key>
        <string>1</string>
        <key>usesCustomTag</key>
        <string>0</string>
        <key>position</key>
        <string>{0, -0.15}</string>
        <key>scale</key>
        <string>{1.00552, 0.99274}</string>
        <key>rotation</key>
        <string>0</string>
        <key>flipped</key>
        <string>{0, 0}</string>
        <key>zValue</key>
        <string>0</string>
      </dict>
      <key>sprite_1</key>
      <dict>
        <key>texture</key>
        <string>GJBeast03_02_001.png</string>
        <key>tag</key>
        <string>0</string>
        <key>usesCustomTag</key>
        <string>1</string>
        <key>position</key>
        <string>{0.025, 0.325}</string>
        <key>scale</key>
        <string>{1.00000, 1.00000}</string>
        <key>rotation</key>
        <string>0</string>
        <key>flipped</key>
        <string>{0, 0}</string>
        <key>zValue</key>
        <string>1</string>
      </dict>
    </dict>
  </dict>
</dict>
</plist>
