<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>colourPicker.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,52}</string>
                <key>spriteSourceSize</key>
                <string>{52,52}</string>
                <key>textureRect</key>
                <string>{{1,1591},{52,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>colourPickerBackground.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{440,440}</string>
                <key>spriteSourceSize</key>
                <string>{440,440}</string>
                <key>textureRect</key>
                <string>{{698,325},{440,440}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>colourPickerOverlay.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{440,440}</string>
                <key>spriteSourceSize</key>
                <string>{440,440}</string>
                <key>textureRect</key>
                <string>{{698,766},{440,440}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>colourPickerShadow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{440,440}</string>
                <key>spriteSourceSize</key>
                <string>{440,440}</string>
                <key>textureRect</key>
                <string>{{602,1207},{440,440}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hueBar.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,1168}</string>
                <key>spriteSourceSize</key>
                <string>{80,1168}</string>
                <key>textureRect</key>
                <string>{{1,1},{80,1168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>huePickerBackground.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{600,600}</string>
                <key>spriteSourceSize</key>
                <string>{600,600}</string>
                <key>textureRect</key>
                <string>{{1,990},{600,600}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lightnessBar.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,1168}</string>
                <key>spriteSourceSize</key>
                <string>{80,1168}</string>
                <key>textureRect</key>
                <string>{{1,82},{80,1168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>menuCircleWhite.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,120}</string>
                <key>spriteSourceSize</key>
                <string>{120,120}</string>
                <key>textureRect</key>
                <string>{{1043,1207},{120,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>menuColourPanelBackground.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{12,0}</string>
                <key>spriteSize</key>
                <string>{696,664}</string>
                <key>spriteSourceSize</key>
                <string>{720,664}</string>
                <key>textureRect</key>
                <string>{{1,325},{696,664}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>saturationBarBottom.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,1168}</string>
                <key>spriteSourceSize</key>
                <string>{80,1168}</string>
                <key>textureRect</key>
                <string>{{1,163},{80,1168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>saturationBarTop.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,1168}</string>
                <key>spriteSourceSize</key>
                <string>{80,1168}</string>
                <key>textureRect</key>
                <string>{{1,244},{80,1168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>CCControlColourPickerSpriteSheet-uhd.png</string>
            <key>size</key>
            <string>{1170,1648}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7f8c3cfb273907e11b188e6f842fdc61:8c0f1e4d567d0d7f569a96c12faeeae2:2b821b097ab26f5f21ccffb66d7c514c$</string>
            <key>textureFileName</key>
            <string>CCControlColourPickerSpriteSheet-uhd.png</string>
        </dict>
    </dict>
</plist>
