<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>island_bonus_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{118,124}</string>
                <key>spriteSourceSize</key>
                <string>{118,124}</string>
                <key>textureRect</key>
                <string>{{358,330},{118,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>island_bonus_locked_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{118,124}</string>
                <key>spriteSourceSize</key>
                <string>{118,124}</string>
                <key>textureRect</key>
                <string>{{477,201},{118,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>island_chaos_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,122}</string>
                <key>spriteSourceSize</key>
                <string>{122,122}</string>
                <key>textureRect</key>
                <string>{{477,326},{120,122}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>island_chaos_locked_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,122}</string>
                <key>spriteSourceSize</key>
                <string>{122,122}</string>
                <key>textureRect</key>
                <string>{{477,449},{120,122}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>island_crystal_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-3}</string>
                <key>spriteSize</key>
                <string>{118,114}</string>
                <key>spriteSourceSize</key>
                <string>{118,120}</string>
                <key>textureRect</key>
                <string>{{600,68},{118,114}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>island_crystal_locked_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-3}</string>
                <key>spriteSize</key>
                <string>{118,114}</string>
                <key>spriteSourceSize</key>
                <string>{118,120}</string>
                <key>textureRect</key>
                <string>{{600,187},{118,114}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>island_death_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,11}</string>
                <key>spriteSize</key>
                <string>{118,138}</string>
                <key>spriteSourceSize</key>
                <string>{118,160}</string>
                <key>textureRect</key>
                <string>{{1,68},{118,138}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>island_death_locked_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,11}</string>
                <key>spriteSize</key>
                <string>{118,138}</string>
                <key>spriteSourceSize</key>
                <string>{118,160}</string>
                <key>textureRect</key>
                <string>{{1,207},{118,138}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>island_demon_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,2}</string>
                <key>spriteSize</key>
                <string>{118,124}</string>
                <key>spriteSourceSize</key>
                <string>{118,128}</string>
                <key>textureRect</key>
                <string>{{239,459},{118,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>island_demon_locked_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,2}</string>
                <key>spriteSize</key>
                <string>{118,124}</string>
                <key>spriteSourceSize</key>
                <string>{118,128}</string>
                <key>textureRect</key>
                <string>{{358,455},{118,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>island_doom_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,3}</string>
                <key>spriteSize</key>
                <string>{118,134}</string>
                <key>spriteSourceSize</key>
                <string>{118,140}</string>
                <key>textureRect</key>
                <string>{{120,207},{118,134}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>island_doom_locked_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,3}</string>
                <key>spriteSize</key>
                <string>{118,134}</string>
                <key>spriteSourceSize</key>
                <string>{118,140}</string>
                <key>textureRect</key>
                <string>{{239,68},{118,134}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>island_fire_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{118,122}</string>
                <key>spriteSourceSize</key>
                <string>{118,122}</string>
                <key>textureRect</key>
                <string>{{120,598},{118,122}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>island_fire_locked_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{118,122}</string>
                <key>spriteSourceSize</key>
                <string>{118,122}</string>
                <key>textureRect</key>
                <string>{{239,584},{118,122}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>island_ice_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{118,112}</string>
                <key>spriteSourceSize</key>
                <string>{118,112}</string>
                <key>textureRect</key>
                <string>{{598,302},{118,112}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>island_ice_locked_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{118,112}</string>
                <key>spriteSourceSize</key>
                <string>{118,112}</string>
                <key>textureRect</key>
                <string>{{598,415},{118,112}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>island_lava_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{120,132}</string>
                <key>spriteSourceSize</key>
                <string>{120,134}</string>
                <key>textureRect</key>
                <string>{{358,68},{120,132}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>island_lava_locked_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{120,132}</string>
                <key>spriteSourceSize</key>
                <string>{120,134}</string>
                <key>textureRect</key>
                <string>{{479,68},{120,132}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>island_magic_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{118,126}</string>
                <key>spriteSourceSize</key>
                <string>{118,128}</string>
                <key>textureRect</key>
                <string>{{120,471},{118,126}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>island_magic_locked_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{118,126}</string>
                <key>spriteSourceSize</key>
                <string>{118,128}</string>
                <key>textureRect</key>
                <string>{{239,332},{118,126}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>island_monster_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{118,128}</string>
                <key>spriteSourceSize</key>
                <string>{118,130}</string>
                <key>textureRect</key>
                <string>{{1,485},{118,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>island_monster_locked_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{118,128}</string>
                <key>spriteSourceSize</key>
                <string>{118,130}</string>
                <key>textureRect</key>
                <string>{{120,342},{118,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>island_poison_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,4}</string>
                <key>spriteSize</key>
                <string>{118,122}</string>
                <key>spriteSourceSize</key>
                <string>{118,130}</string>
                <key>textureRect</key>
                <string>{{358,580},{118,122}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>island_poison_locked_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,4}</string>
                <key>spriteSize</key>
                <string>{118,122}</string>
                <key>spriteSourceSize</key>
                <string>{118,130}</string>
                <key>textureRect</key>
                <string>{{477,572},{118,122}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>island_shadow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-4}</string>
                <key>spriteSize</key>
                <string>{118,110}</string>
                <key>spriteSourceSize</key>
                <string>{118,118}</string>
                <key>textureRect</key>
                <string>{{1,614},{118,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>island_shadow_locked_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-4}</string>
                <key>spriteSize</key>
                <string>{118,110}</string>
                <key>spriteSourceSize</key>
                <string>{118,118}</string>
                <key>textureRect</key>
                <string>{{598,528},{118,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>island_spike_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,2}</string>
                <key>spriteSize</key>
                <string>{118,138}</string>
                <key>spriteSourceSize</key>
                <string>{118,142}</string>
                <key>textureRect</key>
                <string>{{120,68},{118,138}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>island_spike_locked_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,2}</string>
                <key>spriteSize</key>
                <string>{118,138}</string>
                <key>spriteSourceSize</key>
                <string>{118,142}</string>
                <key>textureRect</key>
                <string>{{1,346},{118,138}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>island_time_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,4}</string>
                <key>spriteSize</key>
                <string>{118,128}</string>
                <key>spriteSourceSize</key>
                <string>{118,136}</string>
                <key>textureRect</key>
                <string>{{239,203},{118,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>island_time_locked_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,4}</string>
                <key>spriteSize</key>
                <string>{118,128}</string>
                <key>spriteSourceSize</key>
                <string>{118,136}</string>
                <key>textureRect</key>
                <string>{{358,201},{118,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>theLostGauntletsLabel_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-2}</string>
                <key>spriteSize</key>
                <string>{626,66}</string>
                <key>spriteSourceSize</key>
                <string>{632,70}</string>
                <key>textureRect</key>
                <string>{{1,1},{626,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>GauntletSheet-hd.png</string>
            <key>size</key>
            <string>{726,726}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b1cb7513a363122a02b0f9b51d34302f:e885d3243e6a3832f976c9822ec7f4f7:2d670d95cceff8584d2805d56f85ba00$</string>
            <key>textureFileName</key>
            <string>GauntletSheet-hd.png</string>
        </dict>
    </dict>
</plist>
