<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>GJ_lite_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-1}</string>
                <key>spriteSize</key>
                <string>{178,60}</string>
                <key>spriteSourceSize</key>
                <string>{180,62}</string>
                <key>textureRect</key>
                <string>{{1795,1},{178,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GJ_logo_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-3}</string>
                <key>spriteSize</key>
                <string>{854,100}</string>
                <key>spriteSourceSize</key>
                <string>{860,106}</string>
                <key>textureRect</key>
                <string>{{297,1},{854,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GJ_md_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-3}</string>
                <key>spriteSize</key>
                <string>{370,72}</string>
                <key>spriteSourceSize</key>
                <string>{376,78}</string>
                <key>textureRect</key>
                <string>{{1423,1},{370,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>RobTopLogoBig_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-5}</string>
                <key>spriteSize</key>
                <string>{294,108}</string>
                <key>spriteSourceSize</key>
                <string>{300,122}</string>
                <key>textureRect</key>
                <string>{{1,1},{294,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gj_worldLogo_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-3}</string>
                <key>spriteSize</key>
                <string>{268,80}</string>
                <key>spriteSourceSize</key>
                <string>{274,86}</string>
                <key>textureRect</key>
                <string>{{1153,1},{268,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>GJ_LaunchSheet-hd.png</string>
            <key>size</key>
            <string>{1974,110}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9d5a0963f12a57a05e8c53fba0c64f61:439e83915d19735f4384dfc8c61b3047:155d22e7fafe88a218a4f358cdc9d221$</string>
            <key>textureFileName</key>
            <string>GJ_LaunchSheet-hd.png</string>
        </dict>
    </dict>
</plist>
