<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>chest03_small_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{31,26}</string>
                <key>spriteSourceSize</key>
                <string>{31,26}</string>
                <key>textureRect</key>
                <string>{{415,717},{31,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chest_01_01_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,81}</string>
                <key>spriteSourceSize</key>
                <string>{100,81}</string>
                <key>textureRect</key>
                <string>{{604,244},{100,81}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chest_01_02_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{97,78}</string>
                <key>spriteSourceSize</key>
                <string>{97,78}</string>
                <key>textureRect</key>
                <string>{{241,553},{97,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chest_01_03_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{97,81}</string>
                <key>spriteSourceSize</key>
                <string>{97,81}</string>
                <key>textureRect</key>
                <string>{{143,561},{97,81}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chest_01_03_back_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,3}</string>
                <key>spriteSize</key>
                <string>{76,8}</string>
                <key>spriteSourceSize</key>
                <string>{76,14}</string>
                <key>textureRect</key>
                <string>{{736,478},{76,8}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>chest_01_03_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,14}</string>
                <key>spriteSize</key>
                <string>{163,35}</string>
                <key>spriteSourceSize</key>
                <string>{163,63}</string>
                <key>textureRect</key>
                <string>{{206,517},{163,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chest_01_04_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-17}</string>
                <key>spriteSize</key>
                <string>{97,42}</string>
                <key>spriteSourceSize</key>
                <string>{97,76}</string>
                <key>textureRect</key>
                <string>{{705,244},{97,42}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>chest_01_04_back_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,16}</string>
                <key>spriteSize</key>
                <string>{81,50}</string>
                <key>spriteSourceSize</key>
                <string>{81,82}</string>
                <key>textureRect</key>
                <string>{{692,342},{81,50}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>chest_01_04_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,16}</string>
                <key>spriteSize</key>
                <string>{74,39}</string>
                <key>spriteSourceSize</key>
                <string>{74,71}</string>
                <key>textureRect</key>
                <string>{{421,642},{74,39}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>chest_02_01_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{125,100}</string>
                <key>spriteSourceSize</key>
                <string>{125,100}</string>
                <key>textureRect</key>
                <string>{{622,45},{125,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chest_02_02_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{121,97}</string>
                <key>spriteSourceSize</key>
                <string>{121,97}</string>
                <key>textureRect</key>
                <string>{{1,650},{121,97}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chest_02_03_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{121,99}</string>
                <key>spriteSourceSize</key>
                <string>{121,101}</string>
                <key>textureRect</key>
                <string>{{482,137},{121,99}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chest_02_03_back_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,4}</string>
                <key>spriteSize</key>
                <string>{95,17}</string>
                <key>spriteSourceSize</key>
                <string>{95,25}</string>
                <key>textureRect</key>
                <string>{{726,146},{95,17}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>chest_02_03_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,18}</string>
                <key>spriteSize</key>
                <string>{204,43}</string>
                <key>spriteSourceSize</key>
                <string>{204,79}</string>
                <key>textureRect</key>
                <string>{{482,1},{204,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chest_02_04_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-22}</string>
                <key>spriteSize</key>
                <string>{121,52}</string>
                <key>spriteSourceSize</key>
                <string>{121,96}</string>
                <key>textureRect</key>
                <string>{{370,517},{121,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chest_02_04_back_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,20}</string>
                <key>spriteSize</key>
                <string>{101,62}</string>
                <key>spriteSourceSize</key>
                <string>{101,102}</string>
                <key>textureRect</key>
                <string>{{319,642},{101,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chest_02_04_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,20}</string>
                <key>spriteSize</key>
                <string>{92,48}</string>
                <key>spriteSourceSize</key>
                <string>{92,88}</string>
                <key>textureRect</key>
                <string>{{643,326},{92,48}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>chest_03_02_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{121,97}</string>
                <key>spriteSourceSize</key>
                <string>{121,97}</string>
                <key>textureRect</key>
                <string>{{123,650},{121,97}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chest_03_03_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{121,99}</string>
                <key>spriteSourceSize</key>
                <string>{121,101}</string>
                <key>textureRect</key>
                <string>{{482,237},{121,99}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chest_03_03_back_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,4}</string>
                <key>spriteSize</key>
                <string>{95,17}</string>
                <key>spriteSourceSize</key>
                <string>{95,25}</string>
                <key>textureRect</key>
                <string>{{319,705},{95,17}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chest_03_03_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,18}</string>
                <key>spriteSize</key>
                <string>{204,43}</string>
                <key>spriteSourceSize</key>
                <string>{204,79}</string>
                <key>textureRect</key>
                <string>{{482,1},{204,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chest_03_04_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-22}</string>
                <key>spriteSize</key>
                <string>{121,52}</string>
                <key>spriteSourceSize</key>
                <string>{121,96}</string>
                <key>textureRect</key>
                <string>{{492,509},{121,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chest_03_04_back_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,20}</string>
                <key>spriteSize</key>
                <string>{101,62}</string>
                <key>spriteSourceSize</key>
                <string>{101,102}</string>
                <key>textureRect</key>
                <string>{{492,562},{101,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chest_03_04_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,20}</string>
                <key>spriteSize</key>
                <string>{92,48}</string>
                <key>spriteSourceSize</key>
                <string>{92,88}</string>
                <key>textureRect</key>
                <string>{{643,326},{92,48}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>chest_04_02_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{121,97}</string>
                <key>spriteSourceSize</key>
                <string>{121,97}</string>
                <key>textureRect</key>
                <string>{{604,146},{121,97}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chest_04_03_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{121,99}</string>
                <key>spriteSourceSize</key>
                <string>{121,101}</string>
                <key>textureRect</key>
                <string>{{466,337},{121,99}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chest_04_03_back_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,4}</string>
                <key>spriteSize</key>
                <string>{95,17}</string>
                <key>spriteSourceSize</key>
                <string>{95,25}</string>
                <key>textureRect</key>
                <string>{{319,723},{95,17}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chest_04_03_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,18}</string>
                <key>spriteSize</key>
                <string>{204,43}</string>
                <key>spriteSourceSize</key>
                <string>{204,79}</string>
                <key>textureRect</key>
                <string>{{1,517},{204,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chest_04_04_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-22}</string>
                <key>spriteSize</key>
                <string>{121,52}</string>
                <key>spriteSourceSize</key>
                <string>{121,96}</string>
                <key>textureRect</key>
                <string>{{339,570},{121,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chest_04_04_back_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,20}</string>
                <key>spriteSize</key>
                <string>{101,62}</string>
                <key>spriteSourceSize</key>
                <string>{101,102}</string>
                <key>textureRect</key>
                <string>{{461,625},{101,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chest_04_04_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,20}</string>
                <key>spriteSize</key>
                <string>{92,48}</string>
                <key>spriteSourceSize</key>
                <string>{92,88}</string>
                <key>textureRect</key>
                <string>{{461,688},{92,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chest_04_price_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,17}</string>
                <key>spriteSourceSize</key>
                <string>{55,17}</string>
                <key>textureRect</key>
                <string>{{663,555},{55,17}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>chest_glow_bg_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-66,-8}</string>
                <key>spriteSize</key>
                <string>{52,25}</string>
                <key>spriteSourceSize</key>
                <string>{184,41}</string>
                <key>textureRect</key>
                <string>{{461,570},{52,25}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>chest_shadow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,18}</string>
                <key>spriteSourceSize</key>
                <string>{120,18}</string>
                <key>textureRect</key>
                <string>{{339,623},{120,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>getOrbsLabel_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{46,39}</string>
                <key>spriteSourceSize</key>
                <string>{46,41}</string>
                <key>textureRect</key>
                <string>{{650,687},{46,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gj_videoRewardBtn_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{95,73}</string>
                <key>spriteSourceSize</key>
                <string>{95,73}</string>
                <key>textureRect</key>
                <string>{{245,632},{95,73}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>plushies_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,0}</string>
                <key>spriteSize</key>
                <string>{94,54}</string>
                <key>spriteSourceSize</key>
                <string>{98,54}</string>
                <key>textureRect</key>
                <string>{{588,342},{94,54}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shopBG_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{480,320}</string>
                <key>spriteSourceSize</key>
                <string>{480,320}</string>
                <key>textureRect</key>
                <string>{{1,1},{480,320}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shopKeeper2_eye_01_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,18}</string>
                <key>spriteSourceSize</key>
                <string>{18,18}</string>
                <key>textureRect</key>
                <string>{{711,625},{18,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shopKeeper2_eye_02_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{18,14}</string>
                <key>spriteSourceSize</key>
                <string>{18,18}</string>
                <key>textureRect</key>
                <string>{{719,714},{18,14}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shopKeeper2_eye_03_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-4}</string>
                <key>spriteSize</key>
                <string>{18,10}</string>
                <key>spriteSourceSize</key>
                <string>{18,18}</string>
                <key>textureRect</key>
                <string>{{460,737},{18,10}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shopKeeper2_eye_04_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{15,5}</string>
                <key>spriteSourceSize</key>
                <string>{15,7}</string>
                <key>textureRect</key>
                <string>{{687,39},{15,5}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shopKeeper2_eye_05_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,4}</string>
                <key>spriteSourceSize</key>
                <string>{16,4}</string>
                <key>textureRect</key>
                <string>{{487,570},{16,4}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shopKeeper2_hand_01_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{21,12}</string>
                <key>spriteSourceSize</key>
                <string>{21,12}</string>
                <key>textureRect</key>
                <string>{{710,546},{21,12}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shopKeeper2_head_01_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{67,33}</string>
                <key>spriteSourceSize</key>
                <string>{67,33}</string>
                <key>textureRect</key>
                <string>{{563,625},{67,33}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shopKeeper2_jaw_01_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{67,25}</string>
                <key>spriteSourceSize</key>
                <string>{67,25}</string>
                <key>textureRect</key>
                <string>{{684,424},{67,25}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shopKeeper2_jaw_02_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{67,25}</string>
                <key>spriteSourceSize</key>
                <string>{67,25}</string>
                <key>textureRect</key>
                <string>{{684,492},{67,25}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shopKeeper2_jaw_03_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{67,27}</string>
                <key>spriteSourceSize</key>
                <string>{67,27}</string>
                <key>textureRect</key>
                <string>{{631,619},{67,27}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shopKeeper2_mouth_01_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,42}</string>
                <key>spriteSourceSize</key>
                <string>{42,42}</string>
                <key>textureRect</key>
                <string>{{554,693},{42,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shopKeeper2_pupil_01_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{7,7}</string>
                <key>spriteSourceSize</key>
                <string>{7,7}</string>
                <key>textureRect</key>
                <string>{{206,553},{7,7}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shopKeeper2_pupil_02_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{7,5}</string>
                <key>spriteSourceSize</key>
                <string>{7,7}</string>
                <key>textureRect</key>
                <string>{{313,728},{7,5}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shopKeeper2_torso_01_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{53,37}</string>
                <key>spriteSourceSize</key>
                <string>{53,37}</string>
                <key>textureRect</key>
                <string>{{687,1},{53,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shopKeeper3_eye_01_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,18}</string>
                <key>spriteSourceSize</key>
                <string>{18,18}</string>
                <key>textureRect</key>
                <string>{{711,644},{18,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shopKeeper3_eye_02_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{18,14}</string>
                <key>spriteSourceSize</key>
                <string>{18,18}</string>
                <key>textureRect</key>
                <string>{{597,724},{18,14}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shopKeeper3_eye_03_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-4}</string>
                <key>spriteSize</key>
                <string>{18,10}</string>
                <key>spriteSourceSize</key>
                <string>{18,18}</string>
                <key>textureRect</key>
                <string>{{479,737},{18,10}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shopKeeper3_eye_04_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{15,5}</string>
                <key>spriteSourceSize</key>
                <string>{15,7}</string>
                <key>textureRect</key>
                <string>{{687,39},{15,5}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shopKeeper3_eye_05_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,4}</string>
                <key>spriteSourceSize</key>
                <string>{16,4}</string>
                <key>textureRect</key>
                <string>{{487,570},{16,4}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shopKeeper3_hand_01_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{21,12}</string>
                <key>spriteSourceSize</key>
                <string>{21,12}</string>
                <key>textureRect</key>
                <string>{{447,717},{21,12}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shopKeeper3_head_01_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{67,41}</string>
                <key>spriteSourceSize</key>
                <string>{67,45}</string>
                <key>textureRect</key>
                <string>{{614,506},{67,41}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shopKeeper3_jaw_01_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-3}</string>
                <key>spriteSize</key>
                <string>{67,19}</string>
                <key>spriteSourceSize</key>
                <string>{67,25}</string>
                <key>textureRect</key>
                <string>{{245,728},{67,19}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shopKeeper3_jaw_02_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{67,25}</string>
                <key>spriteSourceSize</key>
                <string>{67,25}</string>
                <key>textureRect</key>
                <string>{{710,478},{67,25}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shopKeeper3_jaw_03_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{67,27}</string>
                <key>spriteSourceSize</key>
                <string>{67,27}</string>
                <key>textureRect</key>
                <string>{{656,419},{67,27}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shopKeeper3_mouth_01_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,42}</string>
                <key>spriteSourceSize</key>
                <string>{42,42}</string>
                <key>textureRect</key>
                <string>{{681,560},{42,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shopKeeper3_pupil_01_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{7,7}</string>
                <key>spriteSourceSize</key>
                <string>{7,7}</string>
                <key>textureRect</key>
                <string>{{466,509},{7,7}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shopKeeper3_pupil_02_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{7,5}</string>
                <key>spriteSourceSize</key>
                <string>{7,7}</string>
                <key>textureRect</key>
                <string>{{313,728},{7,5}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shopKeeper3_torso_01_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{53,37}</string>
                <key>spriteSourceSize</key>
                <string>{53,37}</string>
                <key>textureRect</key>
                <string>{{710,424},{53,37}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shopKeeper_eye_01_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,18}</string>
                <key>spriteSourceSize</key>
                <string>{18,18}</string>
                <key>textureRect</key>
                <string>{{616,724},{18,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shopKeeper_eye_02_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{18,14}</string>
                <key>spriteSourceSize</key>
                <string>{18,18}</string>
                <key>textureRect</key>
                <string>{{635,724},{18,14}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shopKeeper_eye_03_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-4}</string>
                <key>spriteSize</key>
                <string>{18,10}</string>
                <key>spriteSourceSize</key>
                <string>{18,18}</string>
                <key>textureRect</key>
                <string>{{498,737},{18,10}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shopKeeper_eye_04_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{15,5}</string>
                <key>spriteSourceSize</key>
                <string>{15,7}</string>
                <key>textureRect</key>
                <string>{{687,39},{15,5}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shopKeeper_eye_05_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,4}</string>
                <key>spriteSourceSize</key>
                <string>{16,4}</string>
                <key>textureRect</key>
                <string>{{487,570},{16,4}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shopKeeper_hand_01_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{21,12}</string>
                <key>spriteSourceSize</key>
                <string>{21,12}</string>
                <key>textureRect</key>
                <string>{{697,714},{21,12}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shopKeeper_head_01_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{67,33}</string>
                <key>spriteSourceSize</key>
                <string>{67,33}</string>
                <key>textureRect</key>
                <string>{{597,619},{67,33}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shopKeeper_jaw_01_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{67,25}</string>
                <key>spriteSourceSize</key>
                <string>{67,25}</string>
                <key>textureRect</key>
                <string>{{659,619},{67,25}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shopKeeper_jaw_02_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{67,25}</string>
                <key>spriteSourceSize</key>
                <string>{67,25}</string>
                <key>textureRect</key>
                <string>{{685,603},{67,25}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shopKeeper_jaw_03_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{67,27}</string>
                <key>spriteSourceSize</key>
                <string>{67,27}</string>
                <key>textureRect</key>
                <string>{{656,487},{67,27}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shopKeeper_mouth_01_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,42}</string>
                <key>spriteSourceSize</key>
                <string>{42,42}</string>
                <key>textureRect</key>
                <string>{{697,671},{42,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shopKeeper_pupil_01_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{7,7}</string>
                <key>spriteSourceSize</key>
                <string>{7,7}</string>
                <key>textureRect</key>
                <string>{{663,611},{7,7}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shopKeeper_pupil_02_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{7,5}</string>
                <key>spriteSourceSize</key>
                <string>{7,7}</string>
                <key>textureRect</key>
                <string>{{313,728},{7,5}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shopKeeper_torso_01_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,36}</string>
                <key>spriteSourceSize</key>
                <string>{52,36}</string>
                <key>textureRect</key>
                <string>{{597,687},{52,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shopRope2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-24}</string>
                <key>spriteSize</key>
                <string>{48,68}</string>
                <key>spriteSourceSize</key>
                <string>{50,116}</string>
                <key>textureRect</key>
                <string>{{607,437},{48,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shopRope2_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,21}</string>
                <key>spriteSourceSize</key>
                <string>{16,21}</string>
                <key>textureRect</key>
                <string>{{339,553},{16,21}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shopRope3_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-24}</string>
                <key>spriteSize</key>
                <string>{44,68}</string>
                <key>spriteSourceSize</key>
                <string>{46,116}</string>
                <key>textureRect</key>
                <string>{{594,574},{44,68}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shopRope3_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,21}</string>
                <key>spriteSourceSize</key>
                <string>{16,21}</string>
                <key>textureRect</key>
                <string>{{711,603},{16,21}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shopSign2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{141,88}</string>
                <key>spriteSourceSize</key>
                <string>{141,88}</string>
                <key>textureRect</key>
                <string>{{1,561},{141,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shopSign3_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{139,91}</string>
                <key>spriteSourceSize</key>
                <string>{139,91}</string>
                <key>textureRect</key>
                <string>{{482,45},{139,91}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shopSign_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,8}</string>
                <key>spriteSize</key>
                <string>{140,71}</string>
                <key>spriteSourceSize</key>
                <string>{140,87}</string>
                <key>textureRect</key>
                <string>{{466,437},{140,71}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>storeDesk_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{464,194}</string>
                <key>spriteSourceSize</key>
                <string>{464,194}</string>
                <key>textureRect</key>
                <string>{{1,322},{464,194}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>GJ_ShopSheet.png</string>
            <key>size</key>
            <string>{748,748}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:edd97fc858808b8088538501594ef552:5946c6f3c236f0256d040144f5779d07:9d79d13bf30d2772be0a843fed795bc0$</string>
            <key>textureFileName</key>
            <string>GJ_ShopSheet.png</string>
        </dict>
    </dict>
</plist>
