<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>chest03_small_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{122,102}</string>
                <key>spriteSourceSize</key>
                <string>{122,104}</string>
                <key>textureRect</key>
                <string>{{3238,2345},{122,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chest_01_01_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{397,321}</string>
                <key>spriteSourceSize</key>
                <string>{397,321}</string>
                <key>textureRect</key>
                <string>{{2487,170},{397,321}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>chest_01_02_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{385,309}</string>
                <key>spriteSourceSize</key>
                <string>{385,309}</string>
                <key>textureRect</key>
                <string>{{2479,568},{385,309}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chest_01_03_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,3}</string>
                <key>spriteSize</key>
                <string>{385,316}</string>
                <key>spriteSourceSize</key>
                <string>{385,322}</string>
                <key>textureRect</key>
                <string>{{2865,531},{385,316}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chest_01_03_back_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,14}</string>
                <key>spriteSize</key>
                <string>{303,28}</string>
                <key>spriteSourceSize</key>
                <string>{303,56}</string>
                <key>textureRect</key>
                <string>{{3251,531},{303,28}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>chest_01_03_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,58}</string>
                <key>spriteSize</key>
                <string>{652,134}</string>
                <key>spriteSourceSize</key>
                <string>{654,250}</string>
                <key>textureRect</key>
                <string>{{2739,1},{652,134}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chest_01_04_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-71}</string>
                <key>spriteSize</key>
                <string>{385,164}</string>
                <key>spriteSourceSize</key>
                <string>{385,306}</string>
                <key>textureRect</key>
                <string>{{2845,1622},{385,164}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chest_01_04_back_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,66}</string>
                <key>spriteSize</key>
                <string>{324,196}</string>
                <key>spriteSourceSize</key>
                <string>{324,328}</string>
                <key>textureRect</key>
                <string>{{484,2230},{324,196}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chest_01_04_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,66}</string>
                <key>spriteSize</key>
                <string>{295,150}</string>
                <key>spriteSourceSize</key>
                <string>{295,282}</string>
                <key>textureRect</key>
                <string>{{3291,772},{295,150}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>chest_02_01_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{498,402}</string>
                <key>spriteSourceSize</key>
                <string>{498,402}</string>
                <key>textureRect</key>
                <string>{{1922,876},{498,402}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chest_02_02_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{482,386}</string>
                <key>spriteSourceSize</key>
                <string>{482,388}</string>
                <key>textureRect</key>
                <string>{{1369,2061},{482,386}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chest_02_03_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,4}</string>
                <key>spriteSize</key>
                <string>{482,394}</string>
                <key>spriteSourceSize</key>
                <string>{482,402}</string>
                <key>textureRect</key>
                <string>{{2809,136},{482,394}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chest_02_03_back_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,18}</string>
                <key>spriteSize</key>
                <string>{378,62}</string>
                <key>spriteSourceSize</key>
                <string>{378,98}</string>
                <key>textureRect</key>
                <string>{{3481,1},{378,62}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>chest_02_03_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,73}</string>
                <key>spriteSize</key>
                <string>{816,168}</string>
                <key>spriteSourceSize</key>
                <string>{818,314}</string>
                <key>textureRect</key>
                <string>{{1922,1},{816,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chest_02_04_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-88}</string>
                <key>spriteSize</key>
                <string>{482,206}</string>
                <key>spriteSourceSize</key>
                <string>{482,382}</string>
                <key>textureRect</key>
                <string>{{1,2230},{482,206}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chest_02_04_back_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,83}</string>
                <key>spriteSize</key>
                <string>{404,244}</string>
                <key>spriteSourceSize</key>
                <string>{404,410}</string>
                <key>textureRect</key>
                <string>{{1856,1765},{404,244}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>chest_02_04_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,82}</string>
                <key>spriteSize</key>
                <string>{368,188}</string>
                <key>spriteSourceSize</key>
                <string>{368,352}</string>
                <key>textureRect</key>
                <string>{{2798,1996},{368,188}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chest_03_02_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{482,386}</string>
                <key>spriteSourceSize</key>
                <string>{482,388}</string>
                <key>textureRect</key>
                <string>{{2904,848},{482,386}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>chest_03_03_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,4}</string>
                <key>spriteSize</key>
                <string>{482,394}</string>
                <key>spriteSourceSize</key>
                <string>{482,402}</string>
                <key>textureRect</key>
                <string>{{2421,878},{482,394}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chest_03_03_back_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,18}</string>
                <key>spriteSize</key>
                <string>{378,62}</string>
                <key>spriteSourceSize</key>
                <string>{378,98}</string>
                <key>textureRect</key>
                <string>{{3481,380},{378,62}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>chest_03_03_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,73}</string>
                <key>spriteSize</key>
                <string>{816,168}</string>
                <key>spriteSourceSize</key>
                <string>{818,314}</string>
                <key>textureRect</key>
                <string>{{1922,1},{816,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chest_03_04_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-88}</string>
                <key>spriteSize</key>
                <string>{482,206}</string>
                <key>spriteSourceSize</key>
                <string>{482,382}</string>
                <key>textureRect</key>
                <string>{{1856,1282},{482,206}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>chest_03_04_back_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,83}</string>
                <key>spriteSize</key>
                <string>{404,244}</string>
                <key>spriteSourceSize</key>
                <string>{404,410}</string>
                <key>textureRect</key>
                <string>{{2101,1762},{404,244}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>chest_03_04_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,82}</string>
                <key>spriteSize</key>
                <string>{368,188}</string>
                <key>spriteSourceSize</key>
                <string>{368,352}</string>
                <key>textureRect</key>
                <string>{{2798,1996},{368,188}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chest_04_02_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{482,386}</string>
                <key>spriteSourceSize</key>
                <string>{482,388}</string>
                <key>textureRect</key>
                <string>{{2063,1279},{482,386}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>chest_04_03_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,4}</string>
                <key>spriteSize</key>
                <string>{482,394}</string>
                <key>spriteSourceSize</key>
                <string>{482,402}</string>
                <key>textureRect</key>
                <string>{{2450,1273},{482,394}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>chest_04_03_back_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,18}</string>
                <key>spriteSize</key>
                <string>{378,62}</string>
                <key>spriteSourceSize</key>
                <string>{378,98}</string>
                <key>textureRect</key>
                <string>{{3481,759},{378,62}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>chest_04_03_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,73}</string>
                <key>spriteSize</key>
                <string>{816,168}</string>
                <key>spriteSourceSize</key>
                <string>{818,314}</string>
                <key>textureRect</key>
                <string>{{1,2061},{816,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chest_04_04_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-88}</string>
                <key>spriteSize</key>
                <string>{482,206}</string>
                <key>spriteSourceSize</key>
                <string>{482,382}</string>
                <key>textureRect</key>
                <string>{{2346,1762},{482,206}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>chest_04_04_back_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,83}</string>
                <key>spriteSize</key>
                <string>{404,244}</string>
                <key>spriteSourceSize</key>
                <string>{404,410}</string>
                <key>textureRect</key>
                <string>{{2553,1756},{404,244}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>chest_04_04_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,82}</string>
                <key>spriteSize</key>
                <string>{368,188}</string>
                <key>spriteSourceSize</key>
                <string>{368,352}</string>
                <key>textureRect</key>
                <string>{{3292,136},{368,188}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>chest_04_price_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{218,66}</string>
                <key>spriteSourceSize</key>
                <string>{218,66}</string>
                <key>textureRect</key>
                <string>{{3171,1787},{218,66}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>chest_glow_bg_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-265,-35}</string>
                <key>spriteSize</key>
                <string>{204,94}</string>
                <key>spriteSourceSize</key>
                <string>{734,164}</string>
                <key>textureRect</key>
                <string>{{3339,1738},{204,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chest_shadow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{478,72}</string>
                <key>spriteSourceSize</key>
                <string>{478,72}</string>
                <key>textureRect</key>
                <string>{{809,2342},{478,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>getOrbsLabel_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-7}</string>
                <key>spriteSize</key>
                <string>{182,150}</string>
                <key>spriteSourceSize</key>
                <string>{182,164}</string>
                <key>textureRect</key>
                <string>{{3333,1486},{182,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gj_videoRewardBtn_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{378,290}</string>
                <key>spriteSourceSize</key>
                <string>{380,290}</string>
                <key>textureRect</key>
                <string>{{2845,1331},{378,290}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>plushies_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,3}</string>
                <key>spriteSize</key>
                <string>{372,208}</string>
                <key>spriteSourceSize</key>
                <string>{392,218}</string>
                <key>textureRect</key>
                <string>{{2798,1787},{372,208}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shopBG_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1920,1280}</string>
                <key>spriteSourceSize</key>
                <string>{1920,1280}</string>
                <key>textureRect</key>
                <string>{{1,1},{1920,1280}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shopKeeper2_eye_01_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,72}</string>
                <key>spriteSourceSize</key>
                <string>{72,72}</string>
                <key>textureRect</key>
                <string>{{1288,2342},{72,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shopKeeper2_eye_02_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-9}</string>
                <key>spriteSize</key>
                <string>{72,54}</string>
                <key>spriteSourceSize</key>
                <string>{72,72}</string>
                <key>textureRect</key>
                <string>{{2289,2167},{72,54}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shopKeeper2_eye_03_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-19}</string>
                <key>spriteSize</key>
                <string>{72,34}</string>
                <key>spriteSourceSize</key>
                <string>{72,72}</string>
                <key>textureRect</key>
                <string>{{3442,772},{72,34}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shopKeeper2_eye_04_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-8}</string>
                <key>spriteSize</key>
                <string>{60,10}</string>
                <key>spriteSourceSize</key>
                <string>{60,26}</string>
                <key>textureRect</key>
                <string>{{2739,136},{60,10}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shopKeeper2_eye_05_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,16}</string>
                <key>spriteSourceSize</key>
                <string>{62,16}</string>
                <key>textureRect</key>
                <string>{{1,2437},{62,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shopKeeper2_hand_01_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,48}</string>
                <key>spriteSourceSize</key>
                <string>{84,48}</string>
                <key>textureRect</key>
                <string>{{3361,2345},{84,48}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shopKeeper2_head_01_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{268,132}</string>
                <key>spriteSourceSize</key>
                <string>{268,132}</string>
                <key>textureRect</key>
                <string>{{2023,2170},{268,132}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shopKeeper2_jaw_01_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{268,100}</string>
                <key>spriteSourceSize</key>
                <string>{268,100}</string>
                <key>textureRect</key>
                <string>{{2692,2161},{268,100}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shopKeeper2_jaw_02_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{268,100}</string>
                <key>spriteSourceSize</key>
                <string>{268,100}</string>
                <key>textureRect</key>
                <string>{{2793,2294},{268,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shopKeeper2_jaw_03_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{268,108}</string>
                <key>spriteSourceSize</key>
                <string>{268,108}</string>
                <key>textureRect</key>
                <string>{{3224,1337},{268,108}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shopKeeper2_mouth_01_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{168,168}</string>
                <key>spriteSourceSize</key>
                <string>{168,168}</string>
                <key>textureRect</key>
                <string>{{3339,1833},{168,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shopKeeper2_pupil_01_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,28}</string>
                <key>spriteSourceSize</key>
                <string>{28,28}</string>
                <key>textureRect</key>
                <string>{{2809,531},{28,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shopKeeper2_pupil_02_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-6}</string>
                <key>spriteSize</key>
                <string>{28,16}</string>
                <key>spriteSourceSize</key>
                <string>{28,28}</string>
                <key>textureRect</key>
                <string>{{2845,1302},{28,16}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shopKeeper2_torso_01_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{210,148}</string>
                <key>spriteSourceSize</key>
                <string>{210,148}</string>
                <key>textureRect</key>
                <string>{{3333,1337},{210,148}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shopKeeper3_eye_01_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,72}</string>
                <key>spriteSourceSize</key>
                <string>{72,72}</string>
                <key>textureRect</key>
                <string>{{3392,1},{72,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shopKeeper3_eye_02_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-9}</string>
                <key>spriteSize</key>
                <string>{72,54}</string>
                <key>spriteSourceSize</key>
                <string>{72,72}</string>
                <key>textureRect</key>
                <string>{{3392,74},{72,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shopKeeper3_eye_03_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-19}</string>
                <key>spriteSize</key>
                <string>{72,34}</string>
                <key>spriteSourceSize</key>
                <string>{72,72}</string>
                <key>textureRect</key>
                <string>{{3508,1833},{72,34}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shopKeeper3_eye_04_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-8}</string>
                <key>spriteSize</key>
                <string>{60,10}</string>
                <key>spriteSourceSize</key>
                <string>{60,26}</string>
                <key>textureRect</key>
                <string>{{2739,136},{60,10}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shopKeeper3_eye_05_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,16}</string>
                <key>spriteSourceSize</key>
                <string>{62,16}</string>
                <key>textureRect</key>
                <string>{{1,2437},{62,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shopKeeper3_hand_01_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,48}</string>
                <key>spriteSourceSize</key>
                <string>{84,48}</string>
                <key>textureRect</key>
                <string>{{2793,2395},{84,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shopKeeper3_head_01_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-11}</string>
                <key>spriteSize</key>
                <string>{268,156}</string>
                <key>spriteSourceSize</key>
                <string>{268,178}</string>
                <key>textureRect</key>
                <string>{{3291,1068},{268,156}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shopKeeper3_jaw_01_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-13}</string>
                <key>spriteSize</key>
                <string>{268,74}</string>
                <key>spriteSourceSize</key>
                <string>{268,100}</string>
                <key>textureRect</key>
                <string>{{3163,2185},{268,74}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shopKeeper3_jaw_02_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{268,100}</string>
                <key>spriteSourceSize</key>
                <string>{268,100}</string>
                <key>textureRect</key>
                <string>{{3062,2185},{268,100}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shopKeeper3_jaw_03_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{268,108}</string>
                <key>spriteSourceSize</key>
                <string>{268,108}</string>
                <key>textureRect</key>
                <string>{{2583,2161},{268,108}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shopKeeper3_mouth_01_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{168,168}</string>
                <key>spriteSourceSize</key>
                <string>{168,168}</string>
                <key>textureRect</key>
                <string>{{3167,2007},{168,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shopKeeper3_pupil_01_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,28}</string>
                <key>spriteSourceSize</key>
                <string>{28,28}</string>
                <key>textureRect</key>
                <string>{{2865,848},{28,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shopKeeper3_pupil_02_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-6}</string>
                <key>spriteSize</key>
                <string>{28,16}</string>
                <key>spriteSourceSize</key>
                <string>{28,28}</string>
                <key>textureRect</key>
                <string>{{2845,1302},{28,16}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shopKeeper3_torso_01_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{209,148}</string>
                <key>spriteSourceSize</key>
                <string>{209,148}</string>
                <key>textureRect</key>
                <string>{{2289,2245},{209,148}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shopKeeper_eye_01_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,72}</string>
                <key>spriteSourceSize</key>
                <string>{72,72}</string>
                <key>textureRect</key>
                <string>{{3448,1138},{72,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shopKeeper_eye_02_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-9}</string>
                <key>spriteSize</key>
                <string>{72,54}</string>
                <key>spriteSourceSize</key>
                <string>{72,72}</string>
                <key>textureRect</key>
                <string>{{3339,2002},{72,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shopKeeper_eye_03_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-19}</string>
                <key>spriteSize</key>
                <string>{72,34}</string>
                <key>spriteSourceSize</key>
                <string>{72,72}</string>
                <key>textureRect</key>
                <string>{{3442,845},{72,34}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shopKeeper_eye_04_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-8}</string>
                <key>spriteSize</key>
                <string>{60,10}</string>
                <key>spriteSourceSize</key>
                <string>{60,26}</string>
                <key>textureRect</key>
                <string>{{2739,136},{60,10}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shopKeeper_eye_05_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,16}</string>
                <key>spriteSourceSize</key>
                <string>{62,16}</string>
                <key>textureRect</key>
                <string>{{1,2437},{62,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shopKeeper_hand_01_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,48}</string>
                <key>spriteSourceSize</key>
                <string>{84,48}</string>
                <key>textureRect</key>
                <string>{{2878,2395},{84,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shopKeeper_head_01_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{268,132}</string>
                <key>spriteSourceSize</key>
                <string>{268,132}</string>
                <key>textureRect</key>
                <string>{{2156,2167},{268,132}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shopKeeper_jaw_01_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{268,100}</string>
                <key>spriteSourceSize</key>
                <string>{268,100}</string>
                <key>textureRect</key>
                <string>{{3231,1637},{268,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shopKeeper_jaw_02_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{268,100}</string>
                <key>spriteSourceSize</key>
                <string>{268,100}</string>
                <key>textureRect</key>
                <string>{{3238,1738},{268,100}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shopKeeper_jaw_03_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{268,108}</string>
                <key>spriteSourceSize</key>
                <string>{268,108}</string>
                <key>textureRect</key>
                <string>{{2793,2185},{268,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shopKeeper_mouth_01_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{168,168}</string>
                <key>spriteSourceSize</key>
                <string>{168,168}</string>
                <key>textureRect</key>
                <string>{{3238,2176},{168,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shopKeeper_pupil_01_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,28}</string>
                <key>spriteSourceSize</key>
                <string>{28,28}</string>
                <key>textureRect</key>
                <string>{{2845,1273},{28,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shopKeeper_pupil_02_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-6}</string>
                <key>spriteSize</key>
                <string>{28,16}</string>
                <key>spriteSourceSize</key>
                <string>{28,28}</string>
                <key>textureRect</key>
                <string>{{2845,1302},{28,16}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shopKeeper_torso_01_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{208,144}</string>
                <key>spriteSourceSize</key>
                <string>{208,144}</string>
                <key>textureRect</key>
                <string>{{2438,2245},{208,144}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shopRope2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-99}</string>
                <key>spriteSize</key>
                <string>{188,266}</string>
                <key>spriteSourceSize</key>
                <string>{196,464}</string>
                <key>textureRect</key>
                <string>{{3292,505},{188,266}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shopRope2_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,0}</string>
                <key>spriteSize</key>
                <string>{54,84}</string>
                <key>spriteSourceSize</key>
                <string>{64,84}</string>
                <key>textureRect</key>
                <string>{{2963,2395},{54,84}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shopRope3_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,-99}</string>
                <key>spriteSize</key>
                <string>{170,266}</string>
                <key>spriteSourceSize</key>
                <string>{180,464}</string>
                <key>textureRect</key>
                <string>{{1852,2170},{170,266}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shopRope3_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,0}</string>
                <key>spriteSize</key>
                <string>{54,84}</string>
                <key>spriteSourceSize</key>
                <string>{64,84}</string>
                <key>textureRect</key>
                <string>{{3448,1211},{54,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shopSign2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,3}</string>
                <key>spriteSize</key>
                <string>{564,348}</string>
                <key>spriteSourceSize</key>
                <string>{564,354}</string>
                <key>textureRect</key>
                <string>{{1922,170},{564,348}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shopSign3_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-3}</string>
                <key>spriteSize</key>
                <string>{556,356}</string>
                <key>spriteSourceSize</key>
                <string>{558,362}</string>
                <key>textureRect</key>
                <string>{{1922,519},{556,356}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shopSign_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,35}</string>
                <key>spriteSize</key>
                <string>{550,280}</string>
                <key>spriteSourceSize</key>
                <string>{556,350}</string>
                <key>textureRect</key>
                <string>{{818,2061},{550,280}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>storeDesk_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1854,778}</string>
                <key>spriteSourceSize</key>
                <string>{1854,778}</string>
                <key>textureRect</key>
                <string>{{1,1282},{1854,778}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>GJ_ShopSheet-uhd.png</string>
            <key>size</key>
            <string>{3544,2455}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:244f65df0e46718e0b55f81c5237af3e:0acc9828a7f85d396bca0a8c5bde3e25:5f0657c92403da5465d321bd4fa89561$</string>
            <key>textureFileName</key>
            <string>GJ_ShopSheet-uhd.png</string>
        </dict>
    </dict>
</plist>
